---
import CTAButton from '@components/CTAButton.astro';

interface Props {

}

const {

} = Astro.props;

---

<section class="footer-cta blade dark has-grid-bg">
	<div class="container blade-content">
		<div class="subtitle">Lorem ipsum dolor</div>
		<h2 class="h1">Let's talk.</h2>
		<CTAButton
			label = "Contact Us"
			href = "/contact-us/"
			target = "_self"
			style = "button"
		/>
	</div>
	<div class="bg-container overlay" style="background-image:url(https://dev-clear-digital-wp.pantheonsite.io/wp-content/themes/cleardigital/templates/assets/images/webenertia_road.png);"></div>
</section>

<style>
	h2 {
		margin-block: var(--padding-unit-20) var(--padding-unit-30);
	}
</style>