---
import CTAButton from '../CTAButton.astro';
interface Props {

}

const {

} = Astro.props;

---

<section class="hero-banner blade dark has-grid-bg has-video-bg">
	<div class="container blade-content">
		<div class="content-wrap">
			<div class="subtitle">Hello! We are Clear Digital.</div>
			<h1 class="h2">We build websites and <span class="graphic-effect-underline" data-underline-image="white-1">digital</span> brand experiences for modern B2B organizations.</h1>
			<CTAButton
			label = "Our Approach"
			href = "/"
			target = "_self"
		  />
		</div>
	</div>
	<div class="bg-container overlay">
		<video class="video-bg overlay" autoplay loop muted>
			<source
				src="https://media.istockphoto.com/id/1372283447/video/attractive-woman-wearing-virtual-reality-headset-augmented-reality-creative-lady-swiping.mp4?s=mp4-640x640-is&k=20&c=Flz0Jza76gPaFZyEJ8X6114fy__lJc1m_4_yKZRZsVo="
				type="video/mp4"
			/>
		</video>
	</div>
</section>