---

interface Props {

}

const {

} = Astro.props;

---

<section class="tabs-with-content blade">
	<div class="container blade-content">
		<div class="intro">
			<h3>Our services.</h3>
		</div>
		<div class="tabs-with-content-items">
			<div class="tabs-list">
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Brand strategy</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Website design</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Motion graphics</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Creative services</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Digital strategy</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Web development</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Website design</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>UX/UI design</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Digital marketing</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Support subscriptions</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<picture class="tab-figure">
										<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
										<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</picture>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<a data-cursor-expand href="/" class="button">Learn more</a>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tabs-with-content-content">
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<picture class="tab-figure">
							<source srcset="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" />
							<img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</picture>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<a data-cursor-expand href="/" class="button">Learn more</a>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
		</div>
	</div>
</section>

<style lang="scss">
	@import 'src/styles/variables';
	@import 'src/styles/mixins';
	.tabs-with-content {
		background-color: $color-background-light;

		.intro {
			h3 {
				margin-bottom: 0;
				padding-top: 0;
			}
		}

		.tabs-with-content {
			&-items {
				position: relative;
			}

			&-content {
				.tab-body {
					@include spacing('medium');
				}
			}
		}

		.tabs {
			&-list {
				@include row;
			}

			&-item {
				@include col(12);

				@media (min-width: $breakpoint-tablet) {
					@include col(6);
				}
			}
		}

		.tab {
			&-head {
				align-items: center;
				border-bottom: 0.1rem solid rgba($color-border, 0.5);
				display: flex;
				justify-content: space-between;
				padding: 4rem 0;

				@media (min-width: $breakpoint-tablet) {
					display: block;
					padding: 5rem 0;
				}

				h4 {
					margin-bottom: 0;
					padding-top: 0;
				}
			}

			&-body {
				background-color: #989898;
				border-bottom: 0.1rem solid rgba($color-border, 0.5);
				display: none;
				height: 100%;
				padding-bottom: 5rem;
				position: relative;
				width: 100%;

				@media (min-width: $breakpoint-tablet) {
					border-top: 0.1rem solid $color-border;
					padding: 5rem 0;
				}
			}

			&-bodyInner {
				@include row;
			}

			&-image {
				@include col(12);

				@media (min-width: $breakpoint-tablet) {
					@include col(6);
				}
			}

			&-content {
				// @include col(12);

				@media (min-width: $breakpoint-tablet) {
					@include col(6);
				}

				h4 {
					@include spacing('small');
				}

				p {
					@include spacing('small');
				}
			}

			&-figure {
				height: 100%;
				margin-bottom: 0;
				max-height: 53.5rem;
				max-width: 45rem;

				img {
					height: auto;
					object-fit: contain;
					width: 100%;
				}
			}

			&-closeButton {
				background: url('./../assets/icons/cross-black.svg') no-repeat center;
				background-size: contain;
				cursor: pointer;
				display: none;
				height: 3rem;
				padding: 0;
				position: absolute;
				right: 0;
				top: 5rem;
				width: 3rem;

				@media (min-width: $breakpoint-tablet) {
					display: inline-block;
				}
			}

			&-expandButton {
				border: 0.4rem solid $color-brand;
				border-radius: 50%;
				display: inline-block;
				height: 3.5rem;
				position: relative;
				width: 3.5rem;

				@media (min-width: $breakpoint-tablet) {
					display: none;
				}

				&::before {
					background-color: $color-brand;
					border-radius: 1rem;
					content: '';
					height: 0.4rem;
					left: 50%;
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 1.3rem;
				}

				&::after {
					background-color: $color-brand;
					border-radius: 1rem;
					content: '';
					height: 1.3rem;
					left: 50%;
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
					transition: opacity 0.3s ease-in-out;
					width: 0.4rem;
				}
			}

			&-isOpen {
				.tab-head {
					border-bottom: 0;
				}

				.expand-btn {
					&::after {
						opacity: 0;
					}
				}
			}
		}
	}
</style> 

<script>
	// var $tabsWithContent = $('.tabs-with-content blade')

	// if ($tabsWithContent) {
	// 	var $tabTitle = $tabsWithContent.find('.tab-head')
	// 	var $tabBody = $tabsWithContent.find('.tabs-with-content-content .tab-body')
	// 	var $closeButton = $tabsWithContent.find('.tab-closeButton')
	// 	var addIdOnInnerMenu = function (elements, customAttribute, attrTextValue) {
	// 		$(elements).each(function (i) {
	// 			$(this).attr(customAttribute, attrTextValue + (i + 1))
	// 		})
	// 	}
	// 	var handleTabClick = function (e) {
	// 		var tabId = $(this).attr('data-tab')
	// 		var windowWidth = $(window).width()

	// 		if (windowWidth > 767) {
	// 			$(this).closest('.tabs-with-content-items').css('display', 'none')
	// 			$(this).closest('[is="flynt-block-tabs-with-content"]').find('.tabs-with-content-content .tab-body[data-tab-body=' + tabId + ']').css('display', 'block')
	// 		} else {
	// 			if (!$(this).closest('.tab').hasClass('tab-isOpen')) {
	// 				$('.tab').removeClass('tab-isOpen')
	// 				$tabsWithContent.find('.tab-body').stop(true, true).slideUp()
	// 				$(this).closest('.tab').addClass('tab-isOpen')
	// 				$(this).closest('.tab').find('.tab-body').stop(true, true).slideDown()
	// 			} else {
	// 				$('.tab').removeClass('tab-isOpen')
	// 				$tabsWithContent.find('.tab-body').stop(true, true).slideUp()
	// 			}
	// 		}
	// 	}
	// 	var handleCloseButton = function (e) {
	// 		$(this).closest('.tab-body').css('display', 'none')
	// 		$(this).closest('[is="flynt-block-tabs-with-content"]').find('.tabs-with-content-items').css('display', 'block')
	// 	}
	// 	addIdOnInnerMenu($tabTitle, 'data-tab', 'tab-')
	// 	addIdOnInnerMenu($tabBody, 'data-tab-body', 'tab-')
	// 	$tabTitle.on('click', handleTabClick)
	// 	$closeButton.on('click', handleCloseButton)
	// }
</script>