---
import Page from "../../layouts/Page.astro";
---

<Page title="UI Kit" metadescription="Clear Digital UI Kit">
  <main>
    <section class="blade not-screen-height has-grid-bg">
      <div class="blade-content">
        <h1>Heading 1<br/>Second line</h1>
        -5% letter spacing / 110% line height<br/>
        140 @1600, scale proportionally from 1200+<br/>
        120 @768-1199<br/>
        80 @767-
      </div>
    </section>
    <section class="blade dark not-screen-height has-grid-bg">
      <div class="blade-content">
        <h2>Heading 2<br/>Second line</h2>
        -2% letter spacing / 110% line height<br/>
        75 @1600, scale proportionally from 1200+<br/>
        65 @768-1199<br/>
        40 @767-
      </div>
    </section>
    <section class="blade not-screen-height has-grid-bg">
      <div class="blade-content">
        <h3>Heading 3<br/>Second line</h3>
        -2% letter spacing / 110% line height<br/>
        55 @1600, scale proportionally from 1200+<br/>
        50 @768-1199<br/>
        30 @767-
      </div>
    </section>
    <section class="blade dark not-screen-height has-grid-bg">
      <div class="blade-content">
        <h4>Heading 4<br/>Second line</h4>
        0% letter spacing / 130% line height<br/>
        30 @1600, scale proportionally from 1200+<br/>
        24 @1199-
      </div>
    </section>
    <section class="blade not-screen-height has-grid-bg">
      <div class="blade-content">
        <div class="subtitle">Subtitle<br/>Second line</div>
        0% letter spacing / 100% line height<br/>
        25 @1600, scale proportionally from 1200+<br/>
        20 @1199-
      </div>
    </section>
    <section class="blade dark not-screen-height has-grid-bg">
      <div class="blade-content">
        <div class="body-large">Body large<br/>Second line</div>
        0% letter spacing / 150% line height<br/>
        20 @1600, scale proportionally from 1200+<br/>
        18 @1199-
      </div>
    </section>
    <section class="blade not-screen-height has-grid-bg">
      <div class="blade-content">
        <div class="body-medium">Body medium<br/>Second line</div>
        0% letter spacing / 150% line height<br/>
        18 @1600, scale proportionally from 1200+<br/>
        16 @1199-
      </div>
    </section>
    <section class="blade dark not-screen-height has-grid-bg">
      <div class="blade-content">
        <div class="body-default">Body default<br/>Second line</div>
        0% letter spacing / 150% line height<br/>
        16 @1600, scale proportionally from 1200+<br/>
        16 @1199-
      </div>
    </section>
    <section class="blade not-screen-height has-grid-bg">
      <div class="blade-content">
        <div class="button-large">Button large<br/>Second line</div>
        0% letter spacing / 100% line height<br/>
        20 @1600, scale proportionally from 1200+<br/>
        16 @1199-
      </div>
    </section>
    <section class="blade dark not-screen-height has-grid-bg">
      <div class="blade-content">
        <div class="button-small">Button small<br/>Second line</div>
        0% letter spacing / 100% line height<br/>
        16 @1600, scale proportionally from 1200+<br/>
        16 @1199-
      </div>
    </section>
    <section class="blade not-screen-height has-grid-bg">
      <div class="blade-content">
        <div class="footer-links-small">Footer links small<br/>Second line</div>
        0% letter spacing / 100% line height<br/>
        14 @1600, scale proportionally from 1200+<br/>
        12 @1199-
      </div>
    </section>
  </main>
</Page>
