---
import Page from "@layouts/Page.astro";
import ClearVectorLogo from "@widgets/ClearVectorLogo.astro";

---

<Page
	title="vector test"
	metadescription=""
	ogimage=""
>
	<div style="background-color: black; min-height: 100vh; display: flex; justify-content: center; align-items: center;">
		<div>
			<ClearVectorLogo />
		</div>
	</div>
</Page>