---

import LogoCarousel from '../../widgets/LogoCarousel.astro';

interface Props {

}

const {

} = Astro.props;

---

<section class="slider-with-content blade dark">
	<div class="container blade-content">
		SliderWithContent.astro
	</div>
	<LogoCarousel

	/>
</section>