---
import BlankTemplate from "@layouts/BlankTemplate.astro";
import Headline from "@testcomponents/Headline.astro";
---

<BlankTemplate title="Components">
    <h1>test BlankTemplate</h1>
    <Headline
        content="This is <span class='underline'>headline</span> content"
    />
</BlankTemplate>