---
import CTAButton from 'src/widgets/CTAButton.astro';

interface Props {
	
}

const {

} = Astro.props;

const response = await fetch(
  'https://tbd-clear-astro-wp.pantheonsite.io/graphql',
  {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      query: `
				query NewQuery {
					page(id: "7", idType: DATABASE_ID) {
						pageComponents {
							pageComponents {
								... on Page_Pagecomponents_PageComponents_FooterCta {
									ctaText
									ctaUrl
									eyebrow
									headline
									fieldGroupName
									backgroundImage {
										altText
										sourceUrl
									}
								}
							}
						}
					}
				}
      `,
    }),
  }
);


---

<section class="footer-cta blade dark has-grid-bg">
	<div class="container blade-content">
		<div class="subtitle">Lorem ipsum dolor</div>
		<h2 class="h1">Let's talk.</h2>
		<CTAButton
			label = "Contact Us"
			href = "/contact-us/"
			target = "_self"
			style = "button"
		/>
	</div>
	<div class="bg-container overlay" style="background-image:url(https://dev-clear-digital-wp.pantheonsite.io/wp-content/themes/cleardigital/templates/assets/images/webenertia_road.png);"></div>
</section>

<style>
	h2 {
		margin-block: var(--padding-unit-20) var(--padding-unit-30);
	}
</style>