---
interface Props {}

const {} = Astro.props;
---

<tabs-with-content class="astroComponent componentSpacing" data-theme="light">
  <div class="container blade-content">
    <div class="intro">
      <h3>Our services.</h3>
    </div>
    <div class="tabs-with-content-items">
      <div class="tabs-list">
        <div class="tabs-item">
          <div class="tab">
            <div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
              <h4>Brand strategy</h4>
              <span class="expand-btn"></span>
            </div>
            <div class="tab-body collapse">
              <div class="tab-bodyInner">
                <div class="tab-image">
                  <picture class="tab-figure">
                    <source
                      srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
                    />
                    <img
                      src="/images/tabs-with-content/development-circle-pink-and-black.png"
                      width="894"
                      height="1071"
                      alt="black pink"
                    />
                  </picture>
                </div>
                <div class="tab-content">
                  <h4>Content development</h4>
                  <p class="body-default">
                    Our content creators help you develop messaging and imagery
                    that connect, engage, and guide your B2B customers to your
                    solutions
                  </p>
                  <ul>
                    <li>Content Strategy</li>
                    <li>Copywriting / Copyediting</li>
                    <li>Infographics</li>
                    <li>Collateral</li>
                    <li>Ebooks</li>
                  </ul>
                  <a data-cursor-expand href="/" class="button">Learn more</a>
                </div>
                <span
                  class="tab-closeButton"
                  aria-label="close button"
                  data-cursor-icon="minus"
                  data-cursor-expand></span>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs-item">
          <div class="tab">
            <div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
              <h4>Website design</h4>
              <span class="expand-btn"></span>
            </div>
            <div class="tab-body collapse">
              <div class="tab-bodyInner">
                <div class="tab-image">
                  <picture class="tab-figure">
                    <source
                      srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
                    />
                    <img
                      src="/images/tabs-with-content/development-circle-pink-and-black.png"
                      width="894"
                      height="1071"
                      alt="black pink"
                    />
                  </picture>
                </div>
                <div class="tab-content">
                  <h4>Content development</h4>
                  <p class="body-default">
                    Our content creators help you develop messaging and imagery
                    that connect, engage, and guide your B2B customers to your
                    solutions
                  </p>
                  <ul>
                    <li>Content Strategy</li>
                    <li>Copywriting / Copyediting</li>
                    <li>Infographics</li>
                    <li>Collateral</li>
                    <li>Ebooks</li>
                  </ul>
                  <a data-cursor-expand href="/" class="button">Learn more</a>
                </div>
                <span
                  class="tab-closeButton"
                  aria-label="close button"
                  data-cursor-icon="minus"
                  data-cursor-expand></span>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs-item">
          <div class="tab">
            <div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
              <h4>Motion graphics</h4>
              <span class="expand-btn"></span>
            </div>
            <div class="tab-body collapse">
              <div class="tab-bodyInner">
                <div class="tab-image">
                  <picture class="tab-figure">
                    <source
                      srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
                    />
                    <img
                      src="/images/tabs-with-content/development-circle-pink-and-black.png"
                      width="894"
                      height="1071"
                      alt="black pink"
                    />
                  </picture>
                </div>
                <div class="tab-content">
                  <h4>Content development</h4>
                  <p class="body-default">
                    Our content creators help you develop messaging and imagery
                    that connect, engage, and guide your B2B customers to your
                    solutions
                  </p>
                  <ul>
                    <li>Content Strategy</li>
                    <li>Copywriting / Copyediting</li>
                    <li>Infographics</li>
                    <li>Collateral</li>
                    <li>Ebooks</li>
                  </ul>
                  <a data-cursor-expand href="/" class="button">Learn more</a>
                </div>
                <span
                  class="tab-closeButton"
                  aria-label="close button"
                  data-cursor-icon="minus"
                  data-cursor-expand></span>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs-item">
          <div class="tab">
            <div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
              <h4>Creative services</h4>
              <span class="expand-btn"></span>
            </div>
            <div class="tab-body collapse">
              <div class="tab-bodyInner">
                <div class="tab-image">
                  <picture class="tab-figure">
                    <source
                      srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
                    />
                    <img
                      src="/images/tabs-with-content/development-circle-pink-and-black.png"
                      width="894"
                      height="1071"
                      alt="black pink"
                    />
                  </picture>
                </div>
                <div class="tab-content">
                  <h4>Content development</h4>
                  <p class="body-default">
                    Our content creators help you develop messaging and imagery
                    that connect, engage, and guide your B2B customers to your
                    solutions
                  </p>
                  <ul>
                    <li>Content Strategy</li>
                    <li>Copywriting / Copyediting</li>
                    <li>Infographics</li>
                    <li>Collateral</li>
                    <li>Ebooks</li>
                  </ul>
                  <a data-cursor-expand href="/" class="button">Learn more</a>
                </div>
                <span
                  class="tab-closeButton"
                  aria-label="close button"
                  data-cursor-icon="minus"
                  data-cursor-expand></span>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs-item">
          <div class="tab">
            <div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
              <h4>Digital strategy</h4>
              <span class="expand-btn"></span>
            </div>
            <div class="tab-body collapse">
              <div class="tab-bodyInner">
                <div class="tab-image">
                  <picture class="tab-figure">
                    <source
                      srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
                    />
                    <img
                      src="/images/tabs-with-content/development-circle-pink-and-black.png"
                      width="894"
                      height="1071"
                      alt="black pink"
                    />
                  </picture>
                </div>
                <div class="tab-content">
                  <h4>Content development</h4>
                  <p class="body-default">
                    Our content creators help you develop messaging and imagery
                    that connect, engage, and guide your B2B customers to your
                    solutions
                  </p>
                  <ul>
                    <li>Content Strategy</li>
                    <li>Copywriting / Copyediting</li>
                    <li>Infographics</li>
                    <li>Collateral</li>
                    <li>Ebooks</li>
                  </ul>
                  <a data-cursor-expand href="/" class="button">Learn more</a>
                </div>
                <span
                  class="tab-closeButton"
                  aria-label="close button"
                  data-cursor-icon="minus"
                  data-cursor-expand></span>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs-item">
          <div class="tab">
            <div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
              <h4>Web development</h4>
              <span class="expand-btn"></span>
            </div>
            <div class="tab-body collapse">
              <div class="tab-bodyInner">
                <div class="tab-image">
                  <picture class="tab-figure">
                    <source
                      srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
                    />
                    <img
                      src="/images/tabs-with-content/development-circle-pink-and-black.png"
                      width="894"
                      height="1071"
                      alt="black pink"
                    />
                  </picture>
                </div>
                <div class="tab-content">
                  <h4>Content development</h4>
                  <p class="body-default">
                    Our content creators help you develop messaging and imagery
                    that connect, engage, and guide your B2B customers to your
                    solutions
                  </p>
                  <ul>
                    <li>Content Strategy</li>
                    <li>Copywriting / Copyediting</li>
                    <li>Infographics</li>
                    <li>Collateral</li>
                    <li>Ebooks</li>
                  </ul>
                  <a data-cursor-expand href="/" class="button">Learn more</a>
                </div>
                <span
                  class="tab-closeButton"
                  aria-label="close button"
                  data-cursor-icon="minus"
                  data-cursor-expand></span>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs-item">
          <div class="tab">
            <div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
              <h4>Website design</h4>
              <span class="expand-btn"></span>
            </div>
            <div class="tab-body collapse">
              <div class="tab-bodyInner">
                <div class="tab-image">
                  <picture class="tab-figure">
                    <source
                      srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
                    />
                    <img
                      src="/images/tabs-with-content/development-circle-pink-and-black.png"
                      width="894"
                      height="1071"
                      alt="black pink"
                    />
                  </picture>
                </div>
                <div class="tab-content">
                  <h4>Content development</h4>
                  <p class="body-default">
                    Our content creators help you develop messaging and imagery
                    that connect, engage, and guide your B2B customers to your
                    solutions
                  </p>
                  <ul>
                    <li>Content Strategy</li>
                    <li>Copywriting / Copyediting</li>
                    <li>Infographics</li>
                    <li>Collateral</li>
                    <li>Ebooks</li>
                  </ul>
                  <a data-cursor-expand href="/" class="button">Learn more</a>
                </div>
                <span
                  class="tab-closeButton"
                  aria-label="close button"
                  data-cursor-icon="minus"
                  data-cursor-expand></span>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs-item">
          <div class="tab">
            <div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
              <h4>UX/UI design</h4>
              <span class="expand-btn"></span>
            </div>
            <div class="tab-body collapse">
              <div class="tab-bodyInner">
                <div class="tab-image">
                  <picture class="tab-figure">
                    <source
                      srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
                    />
                    <img
                      src="/images/tabs-with-content/development-circle-pink-and-black.png"
                      width="894"
                      height="1071"
                      alt="black pink"
                    />
                  </picture>
                </div>
                <div class="tab-content">
                  <h4>Content development</h4>
                  <p class="body-default">
                    Our content creators help you develop messaging and imagery
                    that connect, engage, and guide your B2B customers to your
                    solutions
                  </p>
                  <ul>
                    <li>Content Strategy</li>
                    <li>Copywriting / Copyediting</li>
                    <li>Infographics</li>
                    <li>Collateral</li>
                    <li>Ebooks</li>
                  </ul>
                  <a data-cursor-expand href="/" class="button">Learn more</a>
                </div>
                <span
                  class="tab-closeButton"
                  aria-label="close button"
                  data-cursor-icon="minus"
                  data-cursor-expand></span>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs-item">
          <div class="tab">
            <div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
              <h4>Digital marketing</h4>
              <span class="expand-btn"></span>
            </div>
            <div class="tab-body collapse">
              <div class="tab-bodyInner">
                <div class="tab-image">
                  <picture class="tab-figure">
                    <source
                      srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
                    />
                    <img
                      src="/images/tabs-with-content/development-circle-pink-and-black.png"
                      width="894"
                      height="1071"
                      alt="black pink"
                    />
                  </picture>
                </div>
                <div class="tab-content">
                  <h4>Content development</h4>
                  <p class="body-default">
                    Our content creators help you develop messaging and imagery
                    that connect, engage, and guide your B2B customers to your
                    solutions
                  </p>
                  <ul>
                    <li>Content Strategy</li>
                    <li>Copywriting / Copyediting</li>
                    <li>Infographics</li>
                    <li>Collateral</li>
                    <li>Ebooks</li>
                  </ul>
                  <a data-cursor-expand href="/" class="button">Learn more</a>
                </div>
                <span
                  class="tab-closeButton"
                  aria-label="close button"
                  data-cursor-icon="minus"
                  data-cursor-expand></span>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs-item">
          <div class="tab">
            <div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
              <h4>Support subscriptions</h4>
              <span class="expand-btn"></span>
            </div>
            <div class="tab-body collapse">
              <div class="tab-bodyInner">
                <div class="tab-image">
                  <picture class="tab-figure">
                    <source
                      srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
                    />
                    <img
                      src="/images/tabs-with-content/development-circle-pink-and-black.png"
                      width="894"
                      height="1071"
                      alt="black pink"
                    />
                  </picture>
                </div>
                <div class="tab-content">
                  <h4>Content development</h4>
                  <p class="body-default">
                    Our content creators help you develop messaging and imagery
                    that connect, engage, and guide your B2B customers to your
                    solutions
                  </p>
                  <ul>
                    <li>Content Strategy</li>
                    <li>Copywriting / Copyediting</li>
                    <li>Infographics</li>
                    <li>Collateral</li>
                    <li>Ebooks</li>
                  </ul>
                  <a data-cursor-expand href="/" class="button">Learn more</a>
                </div>
                <span
                  class="tab-closeButton"
                  aria-label="close button"
                  data-cursor-icon="minus"
                  data-cursor-expand></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs-with-content-content">
      <div class="tab-body">
        <div class="tab-bodyInner">
          <div class="tab-image">
            <picture class="tab-figure">
              <source
                srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
              />
              <img
                src="/images/tabs-with-content/development-circle-pink-and-black.png"
                width="894"
                height="1071"
                alt="black pink"
              />
            </picture>
          </div>
          <div class="tab-content">
            <h4>Content development</h4>
            <p class="body-default">
              Our content creators help you develop messaging and imagery that
              connect, engage, and guide your B2B customers to your solutions
            </p>
            <ul>
              <li>Content Strategy</li>
              <li>Copywriting / Copyediting</li>
              <li>Infographics</li>
              <li>Collateral</li>
              <li>Ebooks</li>
            </ul>
            <a data-cursor-expand href="/" class="button">Learn more</a>
          </div>
          <span
            class="tab-closeButton"
            aria-label="close button"
            data-cursor-icon="minus"
            data-cursor-expand></span>
        </div>
      </div>
      <div class="tab-body">
        <div class="tab-bodyInner">
          <div class="tab-image">
            <picture class="tab-figure">
              <source
                srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
              />
              <img
                src="/images/tabs-with-content/development-circle-pink-and-black.png"
                width="894"
                height="1071"
                alt="black pink"
              />
            </picture>
          </div>
          <div class="tab-content">
            <h4>Content development</h4>
            <p class="body-default">
              Our content creators help you develop messaging and imagery that
              connect, engage, and guide your B2B customers to your solutions
            </p>
            <ul>
              <li>Content Strategy</li>
              <li>Copywriting / Copyediting</li>
              <li>Infographics</li>
              <li>Collateral</li>
              <li>Ebooks</li>
            </ul>
            <a data-cursor-expand href="/" class="button">Learn more</a>
          </div>
          <span
            class="tab-closeButton"
            aria-label="close button"
            data-cursor-icon="minus"
            data-cursor-expand></span>
        </div>
      </div>
      <div class="tab-body">
        <div class="tab-bodyInner">
          <div class="tab-image">
            <picture class="tab-figure">
              <source
                srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
              />
              <img
                src="/images/tabs-with-content/development-circle-pink-and-black.png"
                width="894"
                height="1071"
                alt="black pink"
              />
            </picture>
          </div>
          <div class="tab-content">
            <h4>Content development</h4>
            <p class="body-default">
              Our content creators help you develop messaging and imagery that
              connect, engage, and guide your B2B customers to your solutions
            </p>
            <ul>
              <li>Content Strategy</li>
              <li>Copywriting / Copyediting</li>
              <li>Infographics</li>
              <li>Collateral</li>
              <li>Ebooks</li>
            </ul>
            <a data-cursor-expand href="/" class="button">Learn more</a>
          </div>
          <span
            class="tab-closeButton"
            aria-label="close button"
            data-cursor-icon="minus"
            data-cursor-expand></span>
        </div>
      </div>
      <div class="tab-body">
        <div class="tab-bodyInner">
          <div class="tab-image">
            <picture class="tab-figure">
              <source
                srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
              />
              <img
                src="/images/tabs-with-content/development-circle-pink-and-black.png"
                width="894"
                height="1071"
                alt="black pink"
              />
            </picture>
          </div>
          <div class="tab-content">
            <h4>Content development</h4>
            <p class="body-default">
              Our content creators help you develop messaging and imagery that
              connect, engage, and guide your B2B customers to your solutions
            </p>
            <ul>
              <li>Content Strategy</li>
              <li>Copywriting / Copyediting</li>
              <li>Infographics</li>
              <li>Collateral</li>
              <li>Ebooks</li>
            </ul>
            <a data-cursor-expand href="/" class="button">Learn more</a>
          </div>
          <span
            class="tab-closeButton"
            aria-label="close button"
            data-cursor-icon="minus"
            data-cursor-expand></span>
        </div>
      </div>
      <div class="tab-body">
        <div class="tab-bodyInner">
          <div class="tab-image">
            <picture class="tab-figure">
              <source
                srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
              />
              <img
                src="/images/tabs-with-content/development-circle-pink-and-black.png"
                width="894"
                height="1071"
                alt="black pink"
              />
            </picture>
          </div>
          <div class="tab-content">
            <h4>Content development</h4>
            <p class="body-default">
              Our content creators help you develop messaging and imagery that
              connect, engage, and guide your B2B customers to your solutions
            </p>
            <ul>
              <li>Content Strategy</li>
              <li>Copywriting / Copyediting</li>
              <li>Infographics</li>
              <li>Collateral</li>
              <li>Ebooks</li>
            </ul>
            <a data-cursor-expand href="/" class="button">Learn more</a>
          </div>
          <span
            class="tab-closeButton"
            aria-label="close button"
            data-cursor-icon="minus"
            data-cursor-expand></span>
        </div>
      </div>
      <div class="tab-body">
        <div class="tab-bodyInner">
          <div class="tab-image">
            <picture class="tab-figure">
              <source
                srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
              />
              <img
                src="/images/tabs-with-content/development-circle-pink-and-black.png"
                width="894"
                height="1071"
                alt="black pink"
              />
            </picture>
          </div>
          <div class="tab-content">
            <h4>Content development</h4>
            <p class="body-default">
              Our content creators help you develop messaging and imagery that
              connect, engage, and guide your B2B customers to your solutions
            </p>
            <ul>
              <li>Content Strategy</li>
              <li>Copywriting / Copyediting</li>
              <li>Infographics</li>
              <li>Collateral</li>
              <li>Ebooks</li>
            </ul>
            <a data-cursor-expand href="/" class="button">Learn more</a>
          </div>
          <span
            class="tab-closeButton"
            aria-label="close button"
            data-cursor-icon="minus"
            data-cursor-expand></span>
        </div>
      </div>
      <div class="tab-body">
        <div class="tab-bodyInner">
          <div class="tab-image">
            <picture class="tab-figure">
              <source
                srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
              />
              <img
                src="/images/tabs-with-content/development-circle-pink-and-black.png"
                width="894"
                height="1071"
                alt="black pink"
              />
            </picture>
          </div>
          <div class="tab-content">
            <h4>Content development</h4>
            <p class="body-default">
              Our content creators help you develop messaging and imagery that
              connect, engage, and guide your B2B customers to your solutions
            </p>
            <ul>
              <li>Content Strategy</li>
              <li>Copywriting / Copyediting</li>
              <li>Infographics</li>
              <li>Collateral</li>
              <li>Ebooks</li>
            </ul>
            <a data-cursor-expand href="/" class="button">Learn more</a>
          </div>
          <span
            class="tab-closeButton"
            aria-label="close button"
            data-cursor-icon="minus"
            data-cursor-expand></span>
        </div>
      </div>
      <div class="tab-body">
        <div class="tab-bodyInner">
          <div class="tab-image">
            <picture class="tab-figure">
              <source
                srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
              />
              <img
                src="/images/tabs-with-content/development-circle-pink-and-black.png"
                width="894"
                height="1071"
                alt="black pink"
              />
            </picture>
          </div>
          <div class="tab-content">
            <h4>Content development</h4>
            <p class="body-default">
              Our content creators help you develop messaging and imagery that
              connect, engage, and guide your B2B customers to your solutions
            </p>
            <ul>
              <li>Content Strategy</li>
              <li>Copywriting / Copyediting</li>
              <li>Infographics</li>
              <li>Collateral</li>
              <li>Ebooks</li>
            </ul>
            <a data-cursor-expand href="/" class="button">Learn more</a>
          </div>
          <span
            class="tab-closeButton"
            aria-label="close button"
            data-cursor-icon="minus"
            data-cursor-expand></span>
        </div>
      </div>
      <div class="tab-body">
        <div class="tab-bodyInner">
          <div class="tab-image">
            <picture class="tab-figure">
              <source
                srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
              />
              <img
                src="/images/tabs-with-content/development-circle-pink-and-black.png"
                width="894"
                height="1071"
                alt="black pink"
              />
            </picture>
          </div>
          <div class="tab-content">
            <h4>Content development</h4>
            <p class="body-default">
              Our content creators help you develop messaging and imagery that
              connect, engage, and guide your B2B customers to your solutions
            </p>
            <ul>
              <li>Content Strategy</li>
              <li>Copywriting / Copyediting</li>
              <li>Infographics</li>
              <li>Collateral</li>
              <li>Ebooks</li>
            </ul>
            <a data-cursor-expand href="/" class="button">Learn more</a>
          </div>
          <span
            class="tab-closeButton"
            aria-label="close button"
            data-cursor-icon="minus"
            data-cursor-expand></span>
        </div>
      </div>
      <div class="tab-body">
        <div class="tab-bodyInner">
          <div class="tab-image">
            <picture class="tab-figure">
              <source
                srcset="/images/tabs-with-content/development-circle-pink-and-black.png"
              />
              <img
                src="/images/tabs-with-content/development-circle-pink-and-black.png"
                width="894"
                height="1071"
                alt="black pink"
              />
            </picture>
          </div>
          <div class="tab-content">
            <h4>Content development</h4>
            <p class="body-default">
              Our content creators help you develop messaging and imagery that
              connect, engage, and guide your B2B customers to your solutions
            </p>
            <ul>
              <li>Content Strategy</li>
              <li>Copywriting / Copyediting</li>
              <li>Infographics</li>
              <li>Collateral</li>
              <li>Ebooks</li>
            </ul>
            <a data-cursor-expand href="/" class="button">Learn more</a>
          </div>
          <span
            class="tab-closeButton"
            aria-label="close button"
            data-cursor-icon="minus"
            data-cursor-expand></span>
        </div>
      </div>
    </div>
  </div>
</tabs-with-content>

<style lang="scss">
  @import "@styles/abstracts/variables";
  @import "@styles/abstracts/mixins";

  tabs-with-content {
    .expand-btn {
      border: 0.4rem solid var(--color-accent);
      border-radius: 50%;
      display: inline-block;
      height: 3.5rem;
      position: relative;
      width: 3.5rem;

      @media (min-width: $breakpoint-tablet) {
        display: none;
      }

      &::before {
        background-color: var(--color-accent);
        border-radius: 1rem;
        content: "";
        height: 0.4rem;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1.3rem;
      }

      &::after {
        background-color: var(--color-accent);
        border-radius: 1rem;
        content: "";
        height: 1.3rem;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease-in-out;
        width: 0.4rem;
      }
    }

    .intro {
      h3 {
        margin-bottom: 0;
        padding-top: 0;
      }
    }

    .tabs-with-content-items {
      position: relative;
    }

    .tabs-with-content-content {
        .tab-body {
          margin-top: var(--flow-space-medium);

          @media (max-width: $breakpoint-tablet - 1px) {
            display: none;
          }
        }
    }

    .tabs {
      &-list {
        @include row;
      }

      &-item {
        @include col(12);

        @media (min-width: $breakpoint-tablet) {
          @include col(6);
        }
      }
    }

    .tab {
      &-head {
        align-items: center;
        border-bottom: 0.1rem solid var(--color-border);
        display: flex;
        justify-content: space-between;
        padding: 4rem 0;

        @media (min-width: $breakpoint-tablet) {
          display: block;
          padding: 5rem 0;
        }

        h4 {
          margin-bottom: 0;
          padding-top: 0;
        }
      }

      &-body {
        background-color: var(--color-background);
        border-bottom: 0.1rem solid rgba(var(--color-border), 0.5);
        height: 100%;
        padding-bottom: 5rem;
        position: relative;
        width: 100%;
        @media (min-width: $breakpoint-tablet) {
          border-top: 0.1rem solid var(--color-border);
          padding: 5rem 0;
          display: none;
        }

        &.collapse:not(.show) {
          @media (max-width: $breakpoint-tablet - 1px) {
            display: none;
          }
        }

        &.collapsing {
          height: 0;
          overflow: hidden;
          transition: 0.35s height ease;
        }
      }

      &-bodyInner {
        @include row;
      }

      &-image {
        @include col(12);

        @media (min-width: $breakpoint-tablet) {
          @include col(6);
        }
      }

      &-content {
        @include col(12);

        @media (min-width: $breakpoint-tablet) {
          @include col(6);
        }

        h4 {
          margin-top: var(--flow-space-small);
        }

        p {
          margin-top: var(--flow-space-small);
        }
      }

      &-figure {
        height: 100%;
        margin-bottom: 0;
        max-height: 53.5rem;
        max-width: 45rem;
        display: inline-block;

        img {
          height: auto;
          object-fit: contain;
          width: 100%;
        }
      }

      &-closeButton {
        background: url("/icons/cross-black.svg") no-repeat center;
        background-size: contain;
        cursor: pointer;
        display: none;
        height: 3rem;
        padding: 0;
        position: absolute;
        right: 0;
        top: 5rem;
        width: 3rem;
				padding: 0!important;

        @media (min-width: $breakpoint-tablet) {
          display: inline-block;
        }
      }

      &-isOpen {
        .tab-head {
          @media (max-width: $breakpoint-tablet - 1px) {
            border-bottom: 0;
          }
        }

        .expand-btn {
          &::after {
            opacity: 0;
          }
        }
      }
    }
  }
  
</style>

<script>
  class TabsWithContent extends HTMLElement { 
    constructor( ...args ) { 
      const self = super( ...args )
      self.init()
      return self
    }

    init() {  
      this.resolveElements()
      this.bindFunctions()
      this.bindEvents()
    }

    resolveElements() { 
      this.tabTitle = this.querySelectorAll(".tab-head")
      this.tabBodyElement = this.querySelectorAll(
      ".tabs-with-content-content .tab-body"
      )
      this.tabsWithContentItems = this.querySelector('.tabs-with-content-items')
      this.tabBodyElementMobile = this.querySelectorAll(
      ".tabs-list .tab-body"
      )
		  this.tabsList = this.querySelector('.tabs-list')
    }

    bindFunctions() { 
      this.addIdOnInnerMenu = this.addIdOnInnerMenu(this.tabTitle, 'data-tab', 'tab-')
      this.addIdOnBody = this.addIdOnBody(this.tabBodyElement, 'data-tab-body', 'tab-')
      this.reInitTab = this.reInitTab.bind(this)
      this.handleTabClick = this.handleTabClick.bind(this)
      this.handleCloseButton = this.handleCloseButton.bind(this)
    }

    bindEvents() {
      this.tabsList.addEventListener('click', this.handleTabClick)
      this.addEventListener('click', this.handleCloseButton)
      window.addEventListener('resize', this.reInitTab)
    }

    addIdOnInnerMenu(elements, customAttribute, attrTextValue) {
			elements.forEach((element, index) => {
				element.setAttribute(customAttribute, `${attrTextValue + (index + 1)}`);
			});
    }

    addIdOnBody = this.addIdOnInnerMenu

    reInitTab() {
      this.tabsWithContentItems.removeAttribute('style')

      this.tabBodyElement.forEach((element) => {
        element.removeAttribute('style')
      });
    }

    handleTabClick(e) {
			if (e.target.classList.contains('tab-head') || e.target.tagName === 'H4' || e.target.classList.contains('expand-btn')) {
				let tabHead = e.target
				let tabId = e.target.tagName === 'H4' ? tabHead.closest('.tab-head').getAttribute('data-tab') :  tabHead.getAttribute('data-tab')
				let windowWidth = window.innerWidth

				if (windowWidth > 767) {
					tabHead.closest('.tabs-with-content-items').style.display = 'none'
					tabHead.closest('tabs-with-content').querySelector(`.tabs-with-content-content .tab-body[data-tab-body='${tabId}'`).style.display = 'block'
				} else {
          const closestCollapse = e.target.closest('.tab')
                        .querySelector('.tab-body');

          this.tabBodyElementMobile.forEach((collapse) => {
            if (collapse !== closestCollapse) {
              this.slideUp(collapse)
            }
          });

          if (closestCollapse.classList.contains('show')) {
            this.slideUp(closestCollapse)
          } else {
            this.slideDown(closestCollapse)
          }
        }
			}
    }

    handleCloseButton (e) {
			if (e.target.classList.contains('tab-closeButton')) {
				let closeButton = e.target
				closeButton.closest('.tab-body').style.display = 'none'
				closeButton.closest('tabs-with-content').querySelector('.tabs-with-content-items').style.display = 'block'
			}
    }

    slideDown(collapse) {
      collapse.classList.add('show')
      collapse.classList.add('collapsing')
      collapse.style.height = `${collapse.scrollHeight}px`

      collapse
        .closest('.tab').classList.add('tab-isOpen')

      setTimeout(() => {
        collapse.classList.remove('collapsing')
      }, 350)
    }

    slideUp(collapse) {
      collapse.classList.add('collapsing')
      collapse.removeAttribute('style')

      collapse
        .closest('.tab').classList.remove('tab-isOpen')

      setTimeout(() => {
        collapse.classList.remove('collapsing')
        collapse.classList.remove('show')
      }, 350)
    }
  }

  customElements.define('tabs-with-content', TabsWithContent);
</script>
