---

import BlankTemplate from "../../layouts/BlankTemplate/BlankTemplate.astro";

---

<BlankTemplate title="Set 1">
	<div class="blade has-grid-bg">
		<div class="blade-content container">
			<h1 class="h4">Set 1 Templates</h1>
			<ol class="body-large">
				<li>
					<a href="/set-1/homepage">Homepage</a>
					<ul>
						<li>
							<a href="https://www.figma.com/file/hXWJSw8uarb9d77nJgNKEZ/Clear-Development?type=design&node-id=271-694&mode=design" target="_blank">Design</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/ui">UI Kit</a>
					<ul>
						<li>
							<a href="https://www.figma.com/file/1T5HSD64E5uNvMGbFFBCl1/Clear-Digital-UI-Kit?type=design&node-id=253-299&mode=design" target="_blank">Design</a>
						</li>
					</ul>
				</li>
			</ol>
		</div>
	</div>
</BlankTemplate>