---

import Tag from "./Tag.astro";

---

<div class="client-tags" is="client-tags">
    <Tag
        label="Label"
        slug="slug"
        termId="1"
        taxonomy="taxonomy"
    />
    <Tag
        label="Insurance"
        slug="insurance"
        termId="1444"
        taxonomy="industry"
    />
</div>

<style lang="scss">
    .client-tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--padding-unit-10);
    }
</style>