---
interface Props {
	textContent?: string,
	image?: {sourceUrl, altText}
}

const {
	textContent,
	image,
} = Astro.props;
---

<div class="blade content-blade">
	<div class="blade-content">
		{image && 
			<img src={image.sourceUrl} alt={image.altText} />
		}
		{textContent && 
			<Fragment set:html={textContent} />
		}
	</div>
</div>

<style>
	.blade, .blade-content {
		position: relative;
	}

	.blade {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-block: 150px;
	}

	.blade-content {
		z-index: 1;
		padding-inline: 20px;
	}
</style>
