---
import CTAButton from '../../widgets/CTAButton.astro';

interface Props {

}

const {

} = Astro.props;

---

<style lang="scss">
	@import 'src/styles/abstracts/variables';

	// Button

	button {
		appearance: none;
		background-color: transparent;
		border: 0;
		color: inherit;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		padding: 0;
		text-align: inherit;
	}

	.button {
		appearance: none;
		background-color: $color-accent;
		border: 0.2rem solid $color-accent;
		color: $color-background;
		cursor: pointer;
		display: inline-block;
		font-family: inherit;
		font-size: 1.6rem;
		font-weight: 700;
		letter-spacing: 0;
		line-height: 1;
		margin: 3rem 0 0;
		padding: 1.5rem 2rem;
		text-align: center;
		text-decoration: none;
		transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
		user-select: none;

		@media (max-width: $breakpoint-tablet) {
			margin-top: 2rem;
		}

		&:disabled,
		&--disabled {
			border-color: $color-contrast;
			color: $color-contrast;
			cursor: default;
			opacity: 0.7;
			pointer-events: none;
		}

		&:hover,
		&:focus {
			background-color: transparent;
			border-color: $color-accent;
			color: $color-accent;
		}

		&--outline,
		&--ghost {
			background-color: transparent;
			border-color: $color-background-dark;
			color: $color-background-dark;

			&:hover,
			&:focus {
				background-color: $color-background-dark;
				border-color: $color-background-dark;
				color: $color-background;
			}
		}

		&--small {
			font-size: 1.6rem;
		}

		&--link {
			align-items: center;
			background-color: transparent;
			border: 0;
			color: $color-background-dark;
			display: inline-flex;
			padding: 0;
			position: relative;
			text-transform: none;
			transition: color 0.2s ease-out;

			&:hover,
			&:focus {
				background-color: transparent;
				color: $color-background-dark;

				&::after {
					background-position: right center;
				}
			}

			&::after {
				$color-background-dark-rgb: red($color-background-dark), green($color-background-dark), blue($color-background-dark);

				background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.16663 10H15.8333" stroke="rgb(#{$color-background-dark-rgb})" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M10 4.16675L15.8333 10.0001L10 15.8334" stroke="rgb(#{$color-background-dark-rgb})" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
				background-position: left center;
				background-repeat: no-repeat;
				background-size: contain;
				content: '';
				display: inline-block;
				height: 2rem;
				margin-left: 0.5rem;
				transition: background-position 0.2s ease-out;
				width: 2.2rem;
			}
		}

		&--linkBlack {
			align-items: center;
			background-color: transparent;
			border: 0;
			color: $color-text;
			display: inline-flex;
			padding: 0;
			position: relative;
			text-transform: none;
			transition: color 0.2s ease-out;

			&:hover,
			&:focus {
				background-color: transparent;
				color: $color-text;

				&::after {
					background-position: right center;
				}
			}

			&::after {
				$color-background-dark-rgb: red($color-background-dark), green($color-background-dark), blue($color-background-dark);

				background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.16663 10H15.8333" stroke="rgb(#{$color-background-dark-rgb})" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M10 4.16675L15.8333 10.0001L10 15.8334" stroke="rgb(#{$color-background-dark-rgb})" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
				background-position: left center;
				background-repeat: no-repeat;
				background-size: contain;
				content: '';
				display: inline-block;
				height: 2rem;
				margin-left: 0.5rem;
				transition: background-position 0.2s ease-out;
				width: 2.2rem;
			}
		}
	}

	/* Sticky Nav styling overrides */

.sticky-nav-astro {
  border-bottom: solid 1px $color-text;
  z-index: 2;
    @media (max-width :$breakpoint-tablet){
    border: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 17px;
     @media (max-width :$breakpoint-tablet) {
      display: block;
      padding-bottom: 0;
      position: absolute;
      width: 100%;
      background: white;
      border: solid 1px black;
      left: 0;
      right: 0;
      top: 40px;
      margin: auto;
      width: calc(100% - 40px);
    }
  }
  li {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top : 0;
    @media (max-width :$breakpoint-tablet){
      display: block;
      padding: 10px 15px;
      border-bottom: solid 1px $color-text;
    }
    &:last-child {
      margin-right: 0;
    }
    &.active {
     @media (max-width :$breakpoint-tablet) {
        border-color: #FA198C;
      }
      a {
        &:after {
          opacity: 1;
     @media (max-width :$breakpoint-tablet) {
            display: none;
          }
        }
      }
    }
  }
  a {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    color: $color-text;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      height: 10px;
      width: 100%;
      background-color: #FA198C;
      bottom: -20px;
      opacity: 0;
@media (max-width :$breakpoint-tablet){
        display: none;
      }
    }

  }
  .drop-down {
    display: none;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    border-bottom: solid 1px $color-text;
    padding-bottom: 20px;
    padding-left: 15px;
    @media (max-width :$breakpoint-tablet){
      display: block;
    }
  }
}
</style>
<div class="sticky-nav-astro no-padding">
      <div class="container">
        <span class="drop-down"> Services</span>

        <ul>
          <li class="active"><a href="#">Services</a></li>
          <li><a href="#">Velocity Workshop</a></li>
          <li><a href="#">Case Studies</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>
