---
import CTAButton from '../../widgets/CTAButton.astro';
import girlInVrHeadset from '@assets/images/ImageTwoBlock/girl-in-vr-headset.webp';
import ImageTwoBlockSlide from './Partials/ImageTwoBlockSlide.astro';

interface Props {
	bladeCssId?: string,
	fieldGroupName?: string,
	bladeExtraClasses?: string,
	slideItems?: {
		slideLogo: {
			altText,
			sourceUrl,
		},
		slideHeadline,
		slideCtaText,
		slideCtaUrl,
		slideBackgroundImage: {
			sourceUrl,
		},
		slideBackgroundVideoUrl,
		slideBackgroundVideoType,
	}[]
}

const {
	bladeCssId = "",
	fieldGroupName = "",
	bladeExtraClasses = "",
	slideItems = []
} = Astro.props;
---

<style lang="scss">
	@import 'src/styles/abstracts/variables';

	/* Swiper styling overrides */

	.swiper {
		--swiper-theme-color: #{$color-brand};
		position: relative;
	}

	.swiper-wrapper {
		height: auto !important;
	}

	.swiper-pagination-progressbar {
		background: transparent !important;
		height: 0.8rem !important;
		margin-top: 4rem;
		position: relative !important;

		@media (min-width: $breakpoint-tablet) {
			margin-top: 5rem;
		}

		&::before {
			background-color: $color-background-dark;
			content: '';
			display: block;
			height: 0.1rem;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		height: 100% !important;
		margin-top: 0 !important;
		top: 0 !important;
		width: 100% !important;

		&::after {
			display: none !important;
		}

		&.swiper-button-disabled {
			opacity: 1 !important;
		}
	}

	.swiper-button-prev,
	.swiper-container-rtl .swiper-button-next {
		left: -100% !important;
	}

	.swiper-button-next,
	.swiper-container-rtl .swiper-button-prev {
		right: -100% !important;
	}


	[is='flynt-block-image-two-col'] {
		background-color: $color-background-dark;
		min-height: var(--blade-view-height);
		overflow: hidden;
		padding: 0 !important;

		.columns {
			@include row(0);

			&-outer {
				&.swiper {
					.swiper-wrapper {
						@media (min-width: $breakpoint-tablet) {
							flex-wrap: nowrap;
						}
					}
				}

				.swiper-button-next,
				.swiper-button-prev {
					display: none;

					@media (min-width: $breakpoint-tablet-horizontal) {
						display: block;
					}
				}

				.swiper-button-next {
					right: calc(-100% + #{$container-padding-mobile}) !important;

					@media (min-width: $breakpoint-tablet) {
						right: calc(-100% + #{$container-padding-tablet}) !important;
					}

					@media (min-width: $breakpoint-desktop) {
						right: calc(-100% + #{$container-padding-desktop}) !important;
					}
				}

				.swiper-button-prev {
					left: calc(-100% + #{$container-padding-mobile}) !important;

					@media (min-width: $breakpoint-tablet) {
						left: calc(-100% + #{$container-padding-tablet}) !important;
					}

					@media (min-width: $breakpoint-desktop) {
						left: calc(-100% + #{$container-padding-desktop}) !important;
					}
				}
			}
		}
	}
</style>

<!-- <section class="image-two-block blade dark">
	<div class="container blade-content">
		ImageTwoBlock.astro
	</div>
</section> -->

<div class:list={["flyntComponent componentSpacing", bladeExtraClasses]} id={bladeCssId} is="flynt-block-image-two-col">
	<div class="columns-outer swiper">
		<div class="columns swiper-wrapper">
			{
				slideItems.map((item)=>{
					return <ImageTwoBlockSlide {... item} />
				})
			}
			<!-- <div class="column swiper-slide">
				<figure class="figure">
					<img class="figure-image lazyload" src="/man-holding-phone.webp" width="800" height="1090" alt="Background Image">
				</figure>
				<div class="content">
					<div class="logo">
						<img class="logo-image lazyload" src="/logo-digimarc.webp" width="290" height="61" alt="Logo">
					</div>
					<h2 class="h3">
						<span class="art art--circleWhite">27%</span>
						increase on click-through rates.
					</h2>
					<CTAButton
						label = "View Case Study"
						href = "/"
						target = "_self"
						class = ""
					/>
				</div>
			</div>
			<div class="column swiper-slide">
				<figure class="figure">
					<img class="figure-image lazyload" src="/office-discussion.webp" width="800" height="1090" alt="Background Image">
				</figure>
				<div class="content">
					<div class="logo">
						<img class="logo-image lazyload" src="/logo-leadspace.webp" width="290" height="61" alt="Logo">
					</div>
					<h2 class="h3">53%
						<span class="marker marker--crossout">increase</span>
						on engagement metrics.</h2>
						<CTAButton
						label = "View Case Study"
						href = "/"
						target = "_self"
						class = ""
					/>
				</div>
			</div>
			<div class="column swiper-slide">
				<video class="video" width="640" height="640" aria-hidden="true" autoplay muted loop poster={girlInVrHeadset.src}>
					<source src="/videos/video-dummy.mp4" type="video/mp4">
					<source src="/videos/video-dummy.webm" type="video/webm">
				</video>
				<div class="content">
					<div class="logo">
						<img class="logo-image lazyload" src="/logo-digimarc.webp" width="290" height="61" alt="Logo">
					</div>
					<h2 class="h3">
						<span class="art art--circleWhite">27%</span>
						increase on click-through rates.
					</h2>
					<CTAButton
						label = "View Case Study"
						href = "/"
						target = "_self"
						class = ""
					/>
				</div>
			</div> -->
		</div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>

<script>
	import Swiper from 'swiper'
	import { Navigation, A11y, Autoplay, Pagination } from 'swiper/modules'
	import 'swiper/css'
	import 'swiper/css/autoplay'
	import 'swiper/css/a11y'
	import 'swiper/css/navigation'

	const sliderSelector = '[is="flynt-block-image-two-col"] .swiper';
	const slider = document.querySelector(sliderSelector);

	if (slider) {
		const parameters = {
			modules: [Navigation, A11y, Autoplay, Pagination],
			navigation: {
				nextEl: '[is="flynt-block-image-two-col"] .swiper-button-next',
				prevEl: '[is="flynt-block-image-two-col"] .swiper-button-prev'
			},
			slidesPerView: 1,
			speed: 400,
			spaceBetween: 0,
			breakpoints: {
				992: {
					slidesPerView: 2
				},
				1200: {
					noSwiping: true,
					noSwipingClass: 'swiper-slide',
					slidesPerView: 2
				}
			}
		}
		
		const swiper = new Swiper(sliderSelector, parameters)
	}
</script>
