---
import CTAButton from '../../widgets/CTAButton.astro';
import girlInVrHeadset from '@assets/images/ImageTwoBlock/girl-in-vr-headset.webp';

interface Props {

}

const {

} = Astro.props;
---

<div class="astroComponent componentSpacing" is="flynt-block-image-two-col">
	<div class="columns-outer swiper">
		<div class="columns swiper-wrapper">
			<div class="column swiper-slide">
				<figure class="figure">
					<img class="figure-image lazyload" src="/man-holding-phone.webp" width="800" height="1090" alt="Background Image">
				</figure>
				<div class="content">
					<div class="logo">
						<img class="logo-image lazyload" src="/logo-digimarc.webp" width="290" height="61" alt="Logo">
					</div>
					<h2 class="h3">
						<span class="art art--circleWhite">27%</span>
						increase on click-through rates.
					</h2>
					<CTAButton
						label = "View Case Study"
						href = "/"
						target = "_self"
					/>
				</div>
			</div>
			<div class="column swiper-slide">
				<figure class="figure">
					<img class="figure-image lazyload" src="/office-discussion.webp" width="800" height="1090" alt="Background Image">
				</figure>
				<div class="content">
					<div class="logo">
						<img class="logo-image lazyload" src="/logo-leadspace.webp" width="290" height="61" alt="Logo">
					</div>
					<h2 class="h3">53%
						<span class="marker marker--crossout">increase</span>
						on engagement metrics.</h2>
						<CTAButton
						label = "View Case Study"
						href = "/"
						target = "_self"
					/>
				</div>
			</div>
			<div class="column swiper-slide">
				<video class="video" width="640" height="640" aria-hidden="true" autoplay muted loop poster={girlInVrHeadset.src}>
					<source src="/videos/video-dummy.mp4" type="video/mp4">
					<source src="/videos/video-dummy.webm" type="video/webm">
				</video>
				<!-- <figure class="figure">
					<img class="figure-image lazyload" src="/man-holding-phone.webp" width="800" height="1090" alt="Background Image">
				</figure> -->
				<div class="content">
					<div class="logo">
						<img class="logo-image lazyload" src="/logo-digimarc.webp" width="290" height="61" alt="Logo">
					</div>
					<h2 class="h3">
						<span class="art art--circleWhite">27%</span>
						increase on click-through rates.
					</h2>
					<CTAButton
						label = "View Case Study"
						href = "/"
						target = "_self"
					/>
				</div>
			</div>
		</div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>
<style lang="scss">
	@import 'src/styles/abstracts/variables';
	@import 'src/styles/abstracts/mixins';

	[is='flynt-block-image-two-col'] {
		background-color: var(--color-background);
		min-height: var(--blade-view-height);
		overflow: hidden;
		padding: 0 !important;

		.columns {
			@include row(0);

			&-outer {
				&.swiper {
					.swiper-wrapper {
						@media (min-width: $breakpoint-tablet) {
							flex-wrap: nowrap;
						}
					}
				}

				.swiper-button-next,
				.swiper-button-prev {
					display: none;

					@media (min-width: $breakpoint-tablet-horizontal) {
						display: block;
					}
				}

				.swiper-button-next {
					right: calc(-100% + var(--container-spacing)) !important;
				}

				.swiper-button-prev {
					left: calc(-100% + var(--container-spacing)) !important;
				}
			}
		}

		.column {
			@include col(12);
			height: var(--blade-view-height);
			position: relative;

			@media (min-width: $breakpoint-tablet) {
				@include col(6);
			}
		}

		.figure {
			height: 100%;
			margin: 0;
			overflow: hidden;
			position: relative;

			.figure-image {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}

		video {
			height: var(--blade-view-height);
			margin: 0;
			object-fit: cover;
			overflow: hidden;
			position: relative;
			width: 100%;
		}

		.content {
			bottom: var(--component-spacing);
			left: 0;
			padding-left: var(--container-spacing);
			padding-right: var(--container-spacing);
			position: absolute;
			width: auto;

			@media (min-width: $breakpoint-desktop) {
				max-width: 99%;
			}

			.marker {
				color: var(--color-background);
			}
		}

		.logo {
			display: inline-block;
			height: 4rem;
			margin-top: var(--flow-space-medium);
			max-width: 19.5rem;
			overflow: hidden;
			width: 100%;

			.logo-image {
				height: 100%;
				object-fit: contain;
				width: 100%;
			}
		}
		.h3{
			color: #fff;
			margin-bottom: 20px;
		}
	}
</style>
<script>
	import Swiper from 'swiper'
	import { Navigation, A11y, Autoplay, Pagination } from 'swiper/modules'
	import 'swiper/css'
	import 'swiper/css/autoplay'
	import 'swiper/css/a11y'
	import 'swiper/css/navigation'

	const sliderSelector = '[is="flynt-block-image-two-col"] .swiper';
	const slider = document.querySelector(sliderSelector);

	if (slider) {
		const parameters = {
			modules: [Navigation, A11y, Autoplay, Pagination],
			navigation: {
				nextEl: '[is="flynt-block-image-two-col"] .swiper-button-next',
				prevEl: '[is="flynt-block-image-two-col"] .swiper-button-prev'
			},
			slidesPerView: 1,
			speed: 400,
			spaceBetween: 0,
			breakpoints: {
				992: {
					slidesPerView: 2
				},
				1200: {
					noSwiping: true,
					noSwipingClass: 'swiper-slide',
					slidesPerView: 2
				}
			}
		}
		
		const swiper = new Swiper(sliderSelector, parameters)
	}
</script>
