---

import CTAButton from '@widgets/CTAButton.astro';
import { Image } from 'astro:assets';
import siteLogoTransparent from "@assets/logo/clear-logo-transparent.svg"; 
import siteLogoWhite from "@assets/logo/cleardigital-logo-white.svg"; 

---

<header class="main-navigation">
  <div class="container">
    <div class="main-navigation-items">
      <div class="site-logo">
        <a data-cursor-expand href="/">
					<Image class='site-logo-transparent' src={siteLogoTransparent} alt="Cleardigital logo Transparent" />
					<Image class='site-logo-white' src={siteLogoWhite} alt="Cleardigital logo White" />
        </a>
      </div>
      <nav class="">
        <ul class="main-menu">
          <li class="main-menu-item">
            <div class="main-menu-item-inner">
              <a data-cursor-expand href="/work" class="link">Work</a><span
                class="expand-btn"></span>
            </div>
            <div class="megamenu megamenu-dropdown collapse">
							<span class="side-bg side-bg--left"></span>
              <div class="container">
                <div class="megamenu-items">
                  <div class="megamenu-content-outer">
                    <div class="megamenu-content">
                      <h2
                        class="graphic-effect-underline"
                        data-underline-image="black-1"
                      >
                        Work
                      </h2>
                      <p>
                        Sed sollicitudin odio ac ornare consequat. Ut massa
                        justo, hendrerit vel nunc non, tempus blandit enim.
                        Vivamus gravida velit lorem ipsum dolor sit amet.
                      </p>
											<a class="button button--text" href="/">Overview</a>
                    </div>
                  </div>
                  <div class="megamenu-link-lists-outer">
                    <div class="megamenu-link-lists">
                      <div class="megamenu-links-outer">
                        <div class="megamenu-links">
                          <ul class="menu">
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Case Studies</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Clients</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Industry Focus</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Outcomes</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
							<span class="side-bg side-bg--right"></span>
            </div>
          </li>
          <li class="main-menu-item">
            <div class="main-menu-item-inner">
              <a data-cursor-expand href="/approach">Approach</a><span
                class="expand-btn"></span>
            </div>
            <div class="megamenu megamenu-dropdown collapse">
              <div class="container">
                <div class="megamenu-items">
                  <div class="megamenu-content-outer">
                    <div class="megamenu-content">
                      <h2
                        class="graphic-effect-underline"
                        data-underline-image="black-1"
                      >
                        Approach
                      </h2>
                      <p>
                        Sed sollicitudin odio ac ornare consequat. Ut massa
                        justo, hendrerit vel nunc non, tempus blandit enim.
                        Vivamus gravida velit lorem ipsum dolor sit amet.
                      </p>
											<a class="button button--text" href="/">Overview</a>
                    </div>
                  </div>
                  <div class="megamenu-link-lists-outer">
                    <div class="megamenu-link-lists">
                      <div class="megamenu-links-outer">
                        <div class="megamenu-links">
                          <ul class="menu">
                            <li class="menu-item">
                              <a data-cursor-expand href="/"
                                >Collaboration Focus</a
                              >
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/"
                                >Driving B2B Results</a
                              >
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/"
                                >Design & Development Excellence</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="main-menu-item">
            <div class="main-menu-item-inner">
              <a data-cursor-expand href="/services">Services</a><span
                class="expand-btn"></span>
            </div>
            <div class="megamenu megamenu-dropdown collapse">
              <div class="container">
                <div class="megamenu-items">
                  <div class="megamenu-content-outer">
                    <div class="megamenu-content">
                      <h2
                        class="graphic-effect-underline"
                        data-underline-image="black-1"
                      >
                        Services
                      </h2>
                      <p>
                        Sed sollicitudin odio ac ornare consequat. Ut massa
                        justo, hendrerit vel nunc non, tempus blandit enim.
                        Vivamus gravida velit lorem ipsum dolor sit amet.
                      </p>
                      <a class="button button--text" href="/">Overview</a>
                    </div>
                  </div>
                  <div class="megamenu-link-lists-outer">
                    <div class="megamenu-link-lists">
                      <div class="megamenu-links-outer">
                        <div class="megamenu-links">
                          <ul class="menu">
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Brand Strategy</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/"
                                >Content Development</a
                              >
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/"
                                >Creative Services</a
                              >
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/"
                                >Digital Marketing</a
                              >
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Digital Strategy</a
                              >
                            </li>
                          </ul>
                        </div>
                        <div class="megamenu-links">
                          <ul class="menu">
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Motion Graphics</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Systems Support</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">UX/UI Design</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Web Development</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="main-menu-item">
            <div class="main-menu-item-inner">
              <a data-cursor-expand href="/insights">Insights</a><span
                class="expand-btn"></span>
            </div>
            <div class="megamenu megamenu-dropdown collapse">
              <div class="container">
                <div class="megamenu-items">
                  <div class="megamenu-content-outer">
                    <div class="megamenu-content">
                      <h2
                        class="graphic-effect-underline"
                        data-underline-image="black-1"
                      >
                        Insights
                      </h2>
                      <p>
                        Sed sollicitudin odio ac ornare consequat. Ut massa
                        justo, hendrerit vel nunc non, tempus blandit enim.
                        Vivamus gravida velit lorem ipsum dolor sit amet.
                      </p>
                      <a class="button button--text" href="/">Overview</a>
                    </div>
                  </div>
                  <div class="megamenu-link-lists-outer">
                    <div class="megamenu-link-lists">
                      <div class="row megamenu-links-outer">
                        <div class="megamenu-links">
                          <ul class="menu">
                            <li class="menu-item">
                              <a data-cursor-expand href="/">White Papers</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Videos</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Infographics</a>
                            </li>
                          </ul>
                        </div>
                        <div class="megamenu-links">
                          <ul class="menu">
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Podcasts</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/"
                                >Client in the News</a
                              >
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Press Releases</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="main-menu-item">
            <div class="main-menu-item-inner">
              <a data-cursor-expand href="/about">About</a><span
                class="expand-btn"></span>
            </div>
            <div class="megamenu megamenu-dropdown collapse">

              <div class="container">
                <div class="megamenu-items">
                  <div class="megamenu-content-outer">
                    <div class="megamenu-content">
                      <h2
                        class="graphic-effect-underline"
                        data-underline-image="black-1"
                      >
                        About Clear
                      </h2>
                      <p>
                        Sed sollicitudin odio ac ornare consequat. Ut massa
                        justo, hendrerit vel nunc non, tempus blandit enim.
                        Vivamus gravida velit lorem ipsum dolor sit amet.
                      </p>
                      <a class="button button--text" href="/">Overview</a>
                    </div>
                  </div>
                  <div class="megamenu-link-lists-outer">
                    <div class="megamenu-link-lists">
                      <div class="megamenu-links-outer">
                        <div class="megamenu-links">
                          <ul class="menu">
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Brand Story</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">History</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Team</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Awards</a>
                            </li>
                          </ul>
                        </div>
                        <div class="megamenu-links">
                          <ul class="menu">
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Partners</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">News</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Careers</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Contact Us</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="main-menu-action">
          <CTAButton
            label="Let's Talk"
            href="/"
            target="_self"
            style="button"
          />
        </div>
      </nav>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>

<style lang="scss">
  @import "@styles/abstracts/_variables.scss";

  .main-navigation {
    $self: &;
    background-color: transparent;
    min-height: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 40;
    --header-background-color: var(--color-white);
    --header-hamburger-color: var(--color-black);
    --header-top-link-color: var(--color-black);
    --header-color-transition: background-color 140ms ease-in-out;

    > .container {
			&:before {
				content: "";
				background-color: var(--header-background-color);
        transition: var(--header-color-transition);
				height: 100%;
				left: 0;
				width: max(calc(0.5 * (100% - var(--content-width)) - var(--container-spacing)), var(--container-spacing));
				position: absolute;
				z-index: -1;
				@media (max-width: $breakpoint-desktop) and (min-width: $breakpoint-tablet-horizontal) {
					left: 95.7%
				}

        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-tablet-horizontal) {
          left: 17.8rem;
          width: 100%;
        }

        @media (max-width: $breakpoint-tablet) {
          left: 12rem;
          width: 100%;
        }
			}

			&:after {
				content: "";
				background-color: var(--header-background-color);
        transition: var(--header-color-transition);
				height: 100%;
				right: 0;
				width: max(calc(0.5 * (100% - var(--content-width)) - var(--container-spacing)), var(--container-spacing));
				position: absolute;
				top: 0;
				z-index: -1;

				@media (max-width: $breakpoint-desktop) and (min-width: $breakpoint-tablet-horizontal) {
					right: 95.7%
				}

        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-tablet-horizontal) {
          right: calc(100% - 6.8rem);
        }

        @media (max-width: $breakpoint-tablet) {
          right: calc(100% - 1.6rem);
        }
			}
      @media (min-width: $breakpoint-desktop) {
        position: static !important;
      }
    }

    .main-navigation {
      &-items {
        align-items: center;
        display: flex;

        @media (max-width: $breakpoint-tablet-horizontal) {
          justify-content: space-between;
					padding: 3rem 0;
        }
      }
    }

		.side-bg {
			background-color: var(--header-background-color);
      transition: var(--header-color-transition);
			height: 100%;
			width: 42%;
			position: absolute;
			top: 0;

      @media (max-width: $breakpoint-tablet-horizontal) {
        display: none;
      }

			&--left {
				left: -40%;
			}

			&--right {
				right: -40%;
			}
		}

    .expand-btn {
      border: 0.4rem solid $color-brand;
      border-radius: 50%;
      display: inline-block;
      height: 3.5rem;
      position: relative;
      width: 3.5rem;

      @media (min-width: $breakpoint-tablet-horizontal) {
        display: none;
      }

      &::before {
        background-color: $color-brand;
        border-radius: 1rem;
        content: '';
        height: 0.4rem;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1.3rem;
      }

      &::after {
        background-color: $color-brand;
        border-radius: 1rem;
        content: '';
        height: 1.3rem;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease-in-out;
        width: 0.4rem;
      }
    }

    .main-menu {
      display: flex;
      margin: 0;

      @media (max-width: $breakpoint-tablet-horizontal) {
        display: block;
      }

      &-item {
        border-bottom: 1px solid rgba($color-contrast, 0.5);
        @media (min-width: $breakpoint-tablet-horizontal) {
          border-bottom: 0;
          margin-left: 5rem;
          padding: 4rem 0;
        }

        &:hover {
          .megamenu-dropdown {
            @media (min-width: $breakpoint-tablet-horizontal) {
              height: 44rem;
            }
          }

          .main-menu-item-inner {
            > a {
              &:after {
                @media (min-width: $breakpoint-tablet-horizontal) {
                  width: 100%;
                }
              }
            } 
          }
        }
      }
      &-item-inner {
        @media (max-width: $breakpoint-tablet-horizontal) {
          padding: 3rem 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
        }

        > a {
          color: var(--header-top-link-color);
          font-weight: 700;
					position: relative;
          text-decoration: none;

					&:after {
						background-color: $color-brand;
						bottom: -206%;
						content: '';
						width: 0;
						height: 8px;
						left: 0;
						position: absolute;
						transition: width 0.3s ease-in-out;
						z-index: 21;
					}

          &:hover {
            color: $color-brand;
          }
        }
      }

      &-action {
        margin-top: 3rem;

        @media (min-width: $breakpoint-tablet-horizontal) {
          margin-left: 5rem;
          margin-top: 0;
        }

        > a {
          @media (max-width: $breakpoint-mobile-horizontal) {
            width: 100%;
          }
        }
      }

      &--active {
        > a {
          color: $color-brand;;
        }
        .expand-btn {
          &::after {
            display: none;
          }
        }
      }
    }

    .site-logo {
      height: 3.5rem;
      max-width: 11.1rem;
      width: 100%;
      position: relative;

      &::before {
        background-color: var(--header-background-color);
        transition: var(--header-color-transition);
        content: "";
        width: 100%;
        height: 94%;
        right: 0;
        bottom: -100%;
        position: absolute;

        @media (max-width: $breakpoint-tablet-horizontal) {
          height: 80%;
          bottom: -86%;
        }
      }

      &::after {
        background-color: var(--header-background-color);
        transition: var(--header-color-transition);
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: -100%;
        position: absolute;
      }

      > a {
        display: inline-block;
        margin-left: -1px;
        margin-right: -1px;
        width: calc(100% + 2px);
      }

      &-white {
        display: none;
      }

      &-transparent {
        display: block;
      }

      img {
        height: 100%;
        object-fit: contain;
        transition: opacity 140ms ease-in-out;
        opacity: 1;
      }
    }

    nav {
      align-items: center;
      background-color: var(--header-background-color);
      transition: var(--header-color-transition);
      display: flex;
      flex-basis: calc(100% - 11.1rem);
      justify-content: flex-end;
      max-width: calc(100% - 11.1rem);

      @media (max-width: $breakpoint-tablet-horizontal) {
        background: var(--header-background-color);
        border-top: 1px solid var(--header-background-color);
        display: none;
        flex: 0 0 100%;
        height: 100vh;
        left: 0;
        max-width: 100%;
        overflow-y: auto;
        padding-bottom: 10rem;
        padding-inline: var(--container-spacing);
        position: absolute;
        right: 0;
        top: 9.5rem;
        width: 100%;
      }

      &.active {
        display: block;
        height: 100vh;
        overflow-y: scroll;
      }
    }

    ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
    }

    .megamenu {
      &-items {
        @include row;
        padding: 1.5rem 0 3rem;

        @media (min-width: $breakpoint-tablet-horizontal) {
          padding: 6rem 0;
        }
      }

      &-dropdown {
        background-color: $color-background;
        position: relative;
        width: 100%;

        @media (min-width: $breakpoint-tablet-horizontal) {
					border-top: 1px solid $color-background-light;
          height: 0;
          left: 0;
          overflow: hidden;
          position: absolute;
          top: 100%;
          transition: height 0.5s ease;
          z-index: 20;
        }

        @media (max-width: $breakpoint-tablet-horizontal) {
          // animation: fadeIn 0.2s ease-in-out;
          // display: none;
        }

        > .container {
          @media (max-width: $breakpoint-tablet-horizontal) {
            padding-inline: 0;
          }
        }
        &.collapse:not(.show) {
          @media (max-width: $breakpoint-tablet-horizontal) {
            display: none;
          }
        }

        &.collapsing {
          height: 0;
          overflow: hidden;
          transition: 0.35s height ease;
        }
      }

      &-content-outer {
        @include col(12);

        @media (min-width: $breakpoint-tablet-horizontal) {
          @include col(6);
        }
      }

      &-content {
        max-width: 45rem;

        > h2 {
          margin-bottom: 2rem;

          @media (max-width: $breakpoint-tablet-horizontal) {
            display: none;
          }
        }
      }

      &-link-lists-outer {
        @include col(12);

        @media (min-width: $breakpoint-tablet-horizontal) {
          @include col(6);
        }
      }

      &-links-outer {
        @include row;
      }

      &-links {
        @include col(12);

        @media (min-width: $breakpoint-mobile-horizontal) {
          @include col(6);
        }

        ul {
          li {
            @media (max-width: $breakpoint-tablet-horizontal) {
              margin-top: 3rem;
            }

            &:not(:first-child) {
              @media (min-width: $breakpoint-tablet-horizontal) {
                margin-top: 3rem;
              }
            }
          }

          a {
            color: $color-background-dark;
            font-weight: 700;
            text-decoration: none;
            transition: color 0.3s ease-in-out;

            &:hover {
              color: $color-accent;
            }
          }
        }
      }

      &-action {
        margin-top: 3rem;
      }

      &--isOpen {
        display: block;
        opacity: 1;
        transform: scaleY(1);
        visibility: visible;
      }
    }
    .hamburger {
      display: block;
      position: relative;

      @media (min-width: $breakpoint-tablet-horizontal) {
        display: none;
      }

      span {
        background-color: var(--header-hamburger-color);
        border-radius: 0.3rem;
        display: block;
        height: 0.3rem;
        margin-bottom: 0.5rem;
        position: relative;
        transform-origin: 0.4rem 0;
        transition:
          transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          opacity 0.55s ease;
        width: 3rem;
        z-index: 1;

        &:first-child {
          transform-origin: 0% 0%;
        }

        &:nth-child(2) {
          transform-origin: 0% 100%;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.active {
        span {
          &:first-child {
            transform: rotate(45deg) translate(0.1rem, -0.4rem);
          }

          &:nth-child(2) {
            opacity: 0;
            transform: scaleY(0);
          }

          &:nth-child(3) {
            transform: rotate(-45deg);
          }
        }
      }
    }

    &.scroll-near-top:not(:hover) {
      --header-background-color: transparent;
      --header-top-link-color: var(--color-white);
      --header-hamburger-color: var(--color-white);

      .site-logo {

        &-transparent {
          display: none;
        }

        &-white {
          display: block;
        }
      }

      .megamenu-dropdown {
        border-top: none;
      }
    }
  }
</style>

<script>

  const hamburger = document.querySelector("header .hamburger")
  const nav = document.querySelector('header nav')
  const mainMenuLink = document.querySelectorAll('header .main-menu-item-inner')
  const megaMenuDropdown = document.querySelectorAll('header .megamenu-dropdown')
  const header = document.querySelector('header.main-navigation')

  function initMenu() {
    if (screen.availWidth > 992) {
      nav.classList.remove('active')
      hamburger.classList.remove('active')

      mainMenuLink.forEach(function(item) {
        item.classList.remove('main-menu--active')
        item.querySelector('.megamenu-dropdown').classList.remove('collapse')
        item.querySelector('.megamenu-dropdown').removeAttribute('style')
      })
    } 
  }

  function mobileMenuHandler() {
    let element = this

    if (element) {
      element.classList.toggle('active')
      nav.classList.toggle('active')
    }
  }

  function handleHeaderScroll() {
    if(5 >= window.scrollY) {
      header.classList.add('scroll-near-top')
    }else{
      header.classList.remove('scroll-near-top')
    }
  }

  function menuLinkClickHandler(e) {
    let winWidth = screen.availWidth;

    if (winWidth > 992) return

    const closestCollapse = e.target.closest('.main-menu-item')
        .querySelector('.megamenu-dropdown');

      megaMenuDropdown.forEach((collapse) => {
        if (collapse !== closestCollapse) {
          slideUp(collapse);
        }
      });

      if (closestCollapse.classList.contains('show')) {
        slideUp(closestCollapse);
      } else {
        slideDown(closestCollapse);
      }
  }

  function slideDown(collapse) {
    collapse.classList.add('show')
    collapse.classList.add('collapsing')
    collapse.style.height = `${collapse.scrollHeight}px`

    collapse
      .closest('.main-menu-item').classList.add('main-menu--active')

    setTimeout(() => {
      collapse.classList.remove('collapsing')
    }, 350)
  }

  function slideUp(collapse) {
    collapse.classList.add('collapsing')
    collapse.removeAttribute('style')

    collapse
      .closest('.main-menu-item').classList.remove('main-menu--active')

    setTimeout(() => {
      collapse.classList.remove('collapsing')
      collapse.classList.remove('show')
    }, 350)
  }

  hamburger.addEventListener('click', mobileMenuHandler)
  window.addEventListener('resize', initMenu)
  window.addEventListener('scroll', handleHeaderScroll)

  mainMenuLink.forEach(function(item) {
    item.addEventListener('click', menuLinkClickHandler);
  })

</script>
