---

---

<header class="main-navigation">
  <div class="container">
    <div class="main-navigation-items">
      <div class="site-logo">
        <a data-cursor-expand href="/">
          <svg
            version="1.1"
            class="clear-logo-vector"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 341.2 115"
            style="enable-background:new 0 0 341.2 115;"
            xml:space="preserve"
          >
            <g id="Logo">
              <path
                class="st0 clear-logo-vector--clear"
                d="M44.5,45.4c5.1,0,9.8,1.5,14.5,4.7c2.9,2,7,1.4,9.3-1.3l7.4-8.5c-8.6-8.4-18.2-12.2-31.1-12.2
		c-23.5,0-41.2,17.5-41.2,40.8v0.2c0,23.1,17.4,40.6,40.5,40.6c13.6,0,22.9-4.1,32.3-14.1l0.5-0.4l-7.9-7.3c-2.5-2.3-6.2-2.4-9-0.4
		c-4.4,3.3-9,5.1-15.3,5.1c-12.4,0-21.7-10.2-21.7-23.6v-0.2C22.8,55.4,32.1,45.4,44.5,45.4z"
              ></path>
              <path
                class="st0 clear-logo-vector--clear"
                d="M101.7,7.7c-2-1.9-4.3-2.8-7.1-2.8H83.1v104.8h21.5l0.1-95C104.7,11.9,103.7,9.6,101.7,7.7z"
              ></path>
              <path
                class="st0 clear-logo-vector--clear"
                d="M178.3,38.5c-6.8-7.2-16.4-10.7-28.9-10.7c-11.8,0-21.1,3.6-27.7,10.9c-6.4,7.1-9.6,17-9.6,29.6
		c0,13.2,3.4,23.4,10,30.5c6.6,7.3,15.9,10.9,27.7,10.9c9.8,0,17.9-2.3,24.3-6.8c6.5-4.3,10.8-10.6,13.1-18.9h-13.3
		c-3.7,0-7.2,1.7-9.8,4.3c-2.2,2.1-6.1,4.3-13,4.3c-5.4,0-9.4-1.5-12.1-4.7c-2.9-2.9-4.5-7.5-4.7-13.6h53.8c0,0,0.3-2.4,0.3-3.4
		h-0.1v-0.4C188.3,57.5,184.9,45.8,178.3,38.5z M134.2,60.8c0.2-5.1,1.8-9,4.7-11.8c2.9-2.7,6.6-4.1,11.2-4.1c5,0,8.8,1.4,11.4,4.1
		c2.5,2.5,4,6.5,4.4,11.8H134.2z"
              ></path>
              <path
                class="st0 clear-logo-vector--clear"
                d="M229.1,58.7c-1.9,0.2-8.7,1.2-8.7,1.2c-7.9,1.2-14.4,3.5-19.5,7.1c-5.1,3.5-7.6,9.4-7.6,17.7
		c0,8.9,2.8,15.3,8.4,19.1c5.6,3.9,12.1,5.5,19.6,5.8c6.1,0.2,11.7,0.1,14.3-0.3c4.9-0.7,10.4-2.4,14.3-4.4c4.4-2.8,6.2-4.3,8.9-7.8
		c3.2-4.3,4.5-10.6,4.5-18.5l-0.1-28.8c0-7.1-3-12.7-9-16.6c-5.8-3.7-14.5-5.6-26.1-5.6c-10.4,0-18.4,2.3-24,6.8
		c-5,4-7.9,9-8.7,15.1h20.9c1.1-2.1,2.7-3.6,5-4.4c2.3-0.8,4.9-1.2,7.8-1.2c2.7,0,5.7,0.4,8.9,1.3c3.2,0.9,4.8,2.8,4.8,5.8
		C242.8,55,238.2,57.5,229.1,58.7z M243.1,68.5v7.4c0,5.5,0.1,9.8-3.2,13c-3.7,3.5-6.6,4.7-15.5,4.7c-3.5,0-6.2-0.8-8.1-2.4
		c-1.9-1.8-2.8-4.1-2.8-7.1c0-2.2,0.6-4.4,2.2-6.5c1.7-2.3,4.4-2.8,8.1-3.8l7.2-1.5C237.7,71.1,240.2,69.9,243.1,68.5z"
              ></path>
              <path
                class="st0 clear-logo-vector--clear"
                d="M298.1,30.1c-5.3,1.4-10,3.5-13.9,6.5c-4.2,3.2-7.4,7.4-9.8,12.6c-2.4,5.3-3.6,11.7-3.6,19.4v41h11.1
		c5.9,0,10.7-4.5,10.7-10.1V66.3c0-5.9,1.5-10.2,4.4-13c2.9-2.7,7.4-4.1,13.4-4.1h7.1V28h-3.1C308.8,28,303.4,28.7,298.1,30.1z"
              ></path>
            </g>
            <g id="Rectangle">
              <path
                class="st1 clear-logo-vector--background"
                d="M243.1,68.5c-2.9,1.4-5.4,2.6-12.1,3.8l-7.2,1.5c-3.7,1-6.4,1.5-8.1,3.8c-1.6,2.1-2.2,4.3-2.2,6.5
		c0,3,0.9,5.3,2.8,7.1c1.9,1.6,4.6,2.4,8.1,2.4c8.9,0,11.8-1.2,15.5-4.7c3.3-3.2,3.2-7.5,3.2-13V68.5z"
              ></path>
              <path
                class="st1 clear-logo-vector--background"
                d="M0.2,0v115h341V0H0.2z M76.2,95.6c-9.4,10-18.7,14.1-32.3,14.1c-23.1,0-40.5-17.5-40.5-40.6v-0.2
		c0-23.3,17.7-40.8,41.2-40.8c12.9,0,22.5,3.8,31.1,12.2l-7.4,8.5c-2.3,2.7-6.4,3.3-9.3,1.3c-4.7-3.2-9.4-4.7-14.5-4.7
		c-12.4,0-21.7,10-21.7,23.4V69c0,13.4,9.3,23.6,21.7,23.6c6.3,0,10.9-1.8,15.3-5.1c2.8-2,6.5-1.9,9,0.4l7.9,7.3L76.2,95.6z
		 M104.6,109.7H83.1V4.9h11.5c2.8,0,5.1,0.9,7.1,2.8s3,4.2,3,7L104.6,109.7L104.6,109.7z M188.4,70.9c0,1-0.3,3.4-0.3,3.4h-53.8
		c0.2,6.1,1.8,10.7,4.7,13.6c2.7,3.2,6.7,4.7,12.1,4.7c6.9,0,10.8-2.2,13-4.3c2.6-2.6,6.1-4.3,9.8-4.3h13.3
		c-2.3,8.3-6.6,14.6-13.1,18.9c-6.4,4.5-14.5,6.8-24.3,6.8c-11.8,0-21.1-3.6-27.7-10.9c-6.6-7.1-10-17.3-10-30.5
		c0-12.6,3.2-22.5,9.6-29.6c6.6-7.3,15.9-10.9,27.7-10.9c12.5,0,22.1,3.5,28.9,10.7c6.6,7.3,10,19,10,32v0.4
		C188.3,70.9,188.4,70.9,188.4,70.9z M263.3,78.6c0,7.9-1.3,14.2-4.5,18.5c-2.7,3.5-4.5,5-8.9,7.8c-3.9,2-9.4,3.7-14.3,4.4
		c-2.6,0.4-8.2,0.5-14.3,0.3c-7.5-0.3-14-1.9-19.6-5.8c-5.6-3.8-8.4-10.2-8.4-19.1c0-8.3,2.5-14.2,7.6-17.7
		c5.1-3.6,11.6-5.9,19.5-7.1c0,0,6.8-1,8.7-1.2c9.1-1.2,13.7-3.7,13.7-7.7c0-3-1.6-4.9-4.8-5.8s-6.2-1.3-8.9-1.3
		c-2.9,0-5.5,0.4-7.8,1.2s-3.9,2.3-5,4.4h-20.9c0.8-6.1,3.7-11.1,8.7-15.1c5.6-4.5,13.6-6.8,24-6.8c11.6,0,20.3,1.9,26.1,5.6
		c6,3.9,9,9.5,9,16.6L263.3,78.6L263.3,78.6z M317.6,49.2h-7.2c-6,0-10.5,1.4-13.4,4.1c-2.9,2.8-4.4,7.1-4.4,13v33.2
		c0,5.6-4.8,10.1-10.7,10.1h-11.1v-41c0-7.7,1.2-14.1,3.6-19.4c2.4-5.2,5.6-9.4,9.8-12.6c3.9-3,8.6-5.1,13.9-6.5s10.7-2.1,16.3-2.1
		h3.1v21.2L317.6,49.2L317.6,49.2z"
              ></path>
              <path
                class="st1 clear-logo-vector--background"
                d="M150.1,44.9c-4.6,0-8.3,1.4-11.2,4.1c-2.9,2.8-4.5,6.7-4.7,11.8h31.7c-0.4-5.3-1.9-9.3-4.4-11.8
		C158.9,46.3,155.1,44.9,150.1,44.9z"
              ></path>
            </g>
            <g id="Dot">
              <path
                class="st2 clear-logo-vector--circle"
                d="M321.6,77.5c-9,0-16,7-16,16c0,9.1,7,16.3,16,16.3c9.1,0,16.3-7.1,16.3-16.3C337.9,84.5,330.8,77.5,321.6,77.5
		z M329.7,93.5c0,4.6-3.4,8-8,8c-4.4,0-7.8-3.5-7.8-8c0-4.3,3.4-7.8,7.8-7.8S329.7,89.1,329.7,93.5z"
              ></path>
            </g>
          </svg>
        </a>
      </div>
      <nav class="">
        <ul class="main-menu">
          <li class="main-menu-item">
            <div class="main-menu-item-inner">
              <a data-cursor-expand href="/work" class="link">Work</a><span class="expand-btn"></span>
            </div>
            <div class="megamenu megamenu-dropdown collapse">
              <span class="side-bg side-bg--left"></span>
              <div class="container">
                <div class="megamenu-items">
                  <div class="megamenu-content-outer">
                    <div class="megamenu-content">
                      <h2 class="graphic-effect-underline" data-underline-image="black-1">Work</h2>
                      <p>
                        Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel nunc non,
                        tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit amet.
                      </p>
                      <a class="button button--text" href="/">Overview</a>
                    </div>
                  </div>
                  <div class="megamenu-link-lists-outer">
                    <div class="megamenu-link-lists">
                      <div class="megamenu-links-outer">
                        <div class="megamenu-links">
                          <ul class="menu">
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Case Studies</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Clients</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Industry Focus</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Outcomes</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <span class="side-bg side-bg--right"></span>
            </div>
          </li>
          <li class="main-menu-item">
            <div class="main-menu-item-inner">
              <a data-cursor-expand href="/approach">Approach</a><span class="expand-btn"></span>
            </div>
            <div class="megamenu megamenu-dropdown collapse">
              <div class="container">
                <div class="megamenu-items">
                  <div class="megamenu-content-outer">
                    <div class="megamenu-content">
                      <h2 class="graphic-effect-underline" data-underline-image="black-1">Approach</h2>
                      <p>
                        Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel nunc non,
                        tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit amet.
                      </p>
                      <a class="button button--text" href="/">Overview</a>
                    </div>
                  </div>
                  <div class="megamenu-link-lists-outer">
                    <div class="megamenu-link-lists">
                      <div class="megamenu-links-outer">
                        <div class="megamenu-links">
                          <ul class="menu">
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Collaboration Focus</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Driving B2B Results</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Design & Development Excellence</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="main-menu-item">
            <div class="main-menu-item-inner">
              <a data-cursor-expand href="/services">Services</a><span class="expand-btn"></span>
            </div>
            <div class="megamenu megamenu-dropdown collapse">
              <div class="container">
                <div class="megamenu-items">
                  <div class="megamenu-content-outer">
                    <div class="megamenu-content">
                      <h2 class="graphic-effect-underline" data-underline-image="black-1">Services</h2>
                      <p>
                        Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel nunc non,
                        tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit amet.
                      </p>
                      <a class="button button--text" href="/">Overview</a>
                    </div>
                  </div>
                  <div class="megamenu-link-lists-outer">
                    <div class="megamenu-link-lists">
                      <div class="megamenu-links-outer">
                        <div class="megamenu-links">
                          <ul class="menu">
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Brand Strategy</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Content Development</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Creative Services</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Digital Marketing</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Digital Strategy</a>
                            </li>
                          </ul>
                        </div>
                        <div class="megamenu-links">
                          <ul class="menu">
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Motion Graphics</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Systems Support</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">UX/UI Design</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Web Development</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="main-menu-item">
            <div class="main-menu-item-inner">
              <a data-cursor-expand href="/insights">Insights</a><span class="expand-btn"></span>
            </div>
            <div class="megamenu megamenu-dropdown collapse">
              <div class="container">
                <div class="megamenu-items">
                  <div class="megamenu-content-outer">
                    <div class="megamenu-content">
                      <h2 class="graphic-effect-underline" data-underline-image="black-1">Insights</h2>
                      <p>
                        Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel nunc non,
                        tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit amet.
                      </p>
                      <a class="button button--text" href="/">Overview</a>
                    </div>
                  </div>
                  <div class="megamenu-link-lists-outer">
                    <div class="megamenu-link-lists">
                      <div class="row megamenu-links-outer">
                        <div class="megamenu-links">
                          <ul class="menu">
                            <li class="menu-item">
                              <a data-cursor-expand href="/">White Papers</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Videos</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Infographics</a>
                            </li>
                          </ul>
                        </div>
                        <div class="megamenu-links">
                          <ul class="menu">
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Podcasts</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Client in the News</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Press Releases</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="main-menu-item">
            <div class="main-menu-item-inner">
              <a data-cursor-expand href="/about">About</a><span class="expand-btn"></span>
            </div>
            <div class="megamenu megamenu-dropdown collapse">
              <div class="container">
                <div class="megamenu-items">
                  <div class="megamenu-content-outer">
                    <div class="megamenu-content">
                      <h2 class="graphic-effect-underline" data-underline-image="black-1">About Clear</h2>
                      <p>
                        Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel nunc non,
                        tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit amet.
                      </p>
                      <a class="button button--text" href="/">Overview</a>
                    </div>
                  </div>
                  <div class="megamenu-link-lists-outer">
                    <div class="megamenu-link-lists">
                      <div class="megamenu-links-outer">
                        <div class="megamenu-links">
                          <ul class="menu">
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Brand Story</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">History</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Team</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Awards</a>
                            </li>
                          </ul>
                        </div>
                        <div class="megamenu-links">
                          <ul class="menu">
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Partners</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">News</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Careers</a>
                            </li>
                            <li class="menu-item">
                              <a data-cursor-expand href="/">Contact Us</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="main-menu-action">
          <a href="/" class="button button-large">Let's Talk</a>
        </div>
      </nav>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>

<style lang="scss">
  @import '@styles/abstracts/_variables.scss';

  .main-navigation {
    $self: &;
    background-color: transparent;
    min-height: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 40;
    --header-background-color: transparent;
    --header-top-link-color: var(--color-white);
    --header-hamburger-color: var(--color-white);
    --header-color-transition: background-color 0.3s ease-in-out;

    > .container {
      &:before {
        content: '';
        background-color: var(--header-background-color);
        transition: var(--header-color-transition);
        height: 100%;
        left: 0;
        width: max(
          calc(0.5 * (100% - var(--content-width)) - var(--container-spacing)),
          var(--container-spacing)
        );
        position: absolute;
        z-index: -1;
        @media (max-width: $breakpoint-desktop) and (min-width: $breakpoint-tablet-horizontal) {
          left: 95.7%;
        }

        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-tablet-horizontal) {
          left: 17.8rem;
          width: 100%;
        }

        @media (max-width: $breakpoint-tablet - 1px) {
          left: 12rem;
          width: 100%;
        }
      }

      &:after {
        content: '';
        background-color: var(--header-background-color);
        transition: var(--header-color-transition);
        height: 100%;
        right: 0;
        width: max(
          calc(0.5 * (100% - var(--content-width)) - var(--container-spacing)),
          var(--container-spacing)
        );
        position: absolute;
        top: 0;
        z-index: -1;

        @media (max-width: $breakpoint-desktop) and (min-width: $breakpoint-tablet-horizontal) {
          right: 95.7%;
        }

        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-tablet-horizontal) {
          right: calc(100% - 6.8rem);
        }

        @media (max-width: $breakpoint-tablet - 1px) {
          right: calc(100% - 1.6rem);
        }
      }
      @media (min-width: $breakpoint-desktop) {
        position: static !important;
      }
    }

    .clear-logo-vector {
      --color-vector-fill-background: rgba(255, 255, 255, 0);
      --color-vector-fill-clear: #fff;
      --color-vector-fill-circle: #fa198c;
      --opacity-vector-clear: 1;

      &--background {
        fill: var(--color-vector-fill-background);
        transition: fill 0.3s ease-in-out;
      }

      &--circle {
        fill: var(--color-vector-fill-circle);
        transition: fill 0.3s ease-in-out;
      }

      &--clear {
        opacity: var(--opacity-vector-clear);
        fill: var(--color-vector-fill-clear);
        transition:
          300ms fill ease-in-out,
          opacity 0.3s ease-in-out;
      }
    }

    .main-navigation {
      &-items {
        align-items: center;
        display: flex;

        @media (max-width: $breakpoint-tablet-horizontal) {
          justify-content: space-between;
          padding: 3rem 0;
        }
      }
    }

    .side-bg {
      background-color: var(--header-background-color);
      transition: var(--header-color-transition);
      height: 100%;
      width: 42%;
      position: absolute;
      top: 0;

      @media (max-width: $breakpoint-tablet-horizontal) {
        display: none;
      }

      &--left {
        left: -40%;
      }

      &--right {
        right: -40%;
      }
    }

    .expand-btn {
      border: 0.4rem solid $color-brand;
      border-radius: 50%;
      display: inline-block;
      height: 3.5rem;
      position: relative;
      width: 3.5rem;

      @media (min-width: $breakpoint-tablet-horizontal) {
        display: none;
      }

      &::before {
        background-color: $color-brand;
        border-radius: 1rem;
        content: '';
        height: 0.4rem;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1.3rem;
      }

      &::after {
        background-color: $color-brand;
        border-radius: 1rem;
        content: '';
        height: 1.3rem;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease-in-out;
        width: 0.4rem;
      }
    }

    .main-menu {
      display: flex;
      margin: 0;

      @media (max-width: $breakpoint-tablet-horizontal) {
        display: block;
      }

      &-item {
        border-bottom: 1px solid rgba($color-contrast, 0.5);
        @media (min-width: $breakpoint-tablet-horizontal) {
          border-bottom: 0;
          margin-left: 5rem;
          padding: 4rem 0;
        }

        &:hover {
          .megamenu-dropdown {
            @media (min-width: $breakpoint-tablet-horizontal) {
              height: 44rem;
            }
          }

          .main-menu-item-inner {
            > a {
              &:after {
                @media (min-width: $breakpoint-tablet-horizontal) {
                  width: 100%;
                }
              }
            }
          }
        }
      }
      &-item-inner {
        @media (max-width: $breakpoint-tablet-horizontal) {
          padding: 3rem 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
        }

        > a {
          color: var(--header-top-link-color);
          font-weight: 700;
          position: relative;
          text-decoration: none;
          transition: color 0.3s ease-in-out;

          &:after {
            background-color: $color-brand;
            bottom: -206%;
            content: '';
            width: 0;
            height: 8px;
            left: 0;
            position: absolute;
            transition: width 0.3s ease-in-out;
            z-index: 21;
          }

          &:hover {
            color: $color-brand;
          }
        }
      }

      &-action {
        margin-top: 3rem;

        @media (min-width: $breakpoint-tablet-horizontal) {
          margin-left: 5rem;
          margin-top: 0;
        }

        > a {
          @media (max-width: $breakpoint-mobile-horizontal) {
            width: 100%;
          }
        }
      }

      &--active {
        > a {
          color: $color-brand;
        }
        .expand-btn {
          &::after {
            display: none;
          }
        }
      }
    }

    .site-logo {
      height: 3.5rem;
      max-width: 11.1rem;
      width: 100%;
      position: relative;

      &::before {
        background-color: var(--header-background-color);
        transition: var(--header-color-transition);
        content: '';
        width: 100%;
        height: 94%;
        right: 0;
        bottom: -100%;
        position: absolute;

        @media (max-width: $breakpoint-tablet-horizontal) {
          height: 80%;
          bottom: -86%;
        }
      }

      &::after {
        background-color: var(--header-background-color);
        transition: var(--header-color-transition);
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: -100%;
        position: absolute;
      }

      > a {
        display: inline-block;
        margin-left: -1px;
        margin-right: -1px;
        width: calc(100% + 2px);
      }

      img {
        height: 100%;
        object-fit: contain;
        transition: opacity 140ms ease-in-out;
        opacity: 1;
      }
    }

    nav {
      align-items: center;
      background-color: var(--header-background-color);
      transition: var(--header-color-transition);
      display: flex;
      flex-basis: calc(100% - 11.1rem);
      justify-content: flex-end;
      max-width: calc(100% - 11.1rem);

      @media (max-width: $breakpoint-tablet-horizontal) {
        background: var(--header-background-color);
        border-top: 1px solid rgba($color-contrast, 0.5);
        display: none;
        flex: 0 0 100%;
        height: 100vh;
        left: 0;
        max-width: 100%;
        overflow-y: auto;
        padding-bottom: 10rem;
        padding-inline: var(--container-spacing);
        position: absolute;
        right: 0;
        top: 9.5rem;
        width: 100%;
      }

      &.active {
        display: block;
        height: 100vh;
        overflow-y: scroll;
      }
    }

    ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
    }

    .megamenu {
      &-items {
        @include row;
        padding: 0 0 3rem;

        @media (min-width: $breakpoint-tablet-horizontal) {
          padding: 6rem 0;
        }
      }

      &-dropdown {
        background-color: $color-background;
        position: relative;
        width: 100%;
        transition: border-top 0.3s ease-in-out;

        @media (min-width: $breakpoint-tablet-horizontal) {
          height: 0;
          left: 0;
          overflow: hidden;
          position: absolute;
          top: 100%;
          transition: height 0.5s ease;
          z-index: 20;
        }

        > .container {
          @media (max-width: $breakpoint-tablet-horizontal) {
            padding-inline: 0;
          }
        }
        &.collapse:not(.show) {
          @media (max-width: $breakpoint-tablet-horizontal) {
            display: none;
          }
        }

        &.collapsing {
          height: 0;
          overflow: hidden;
          transition: 0.35s height ease;
        }
      }

      &-content-outer {
        @include col(12);

        @media (min-width: $breakpoint-tablet-horizontal) {
          @include col(6);
        }
      }

      &-content {
        max-width: 45rem;

        > h2 {
          margin-bottom: 2rem;

          @media (max-width: $breakpoint-tablet-horizontal) {
            display: none;
          }
        }
        > p {
          @media (max-width: $breakpoint-tablet-horizontal) {
            margin-top: 0;
          }
        }
      }

      &-link-lists-outer {
        @include col(12);

        @media (min-width: $breakpoint-tablet-horizontal) {
          @include col(6);
        }
      }

      &-links-outer {
        @include row;
      }

      &-links {
        @include col(12);

        @media (min-width: $breakpoint-mobile-horizontal) {
          @include col(6);
        }

        ul {
          li {
            @media (max-width: $breakpoint-tablet-horizontal) {
              margin-top: 3rem;
            }

            &:not(:first-child) {
              @media (min-width: $breakpoint-tablet-horizontal) {
                margin-top: 3rem;
              }
            }
          }

          a {
            color: $color-background-dark;
            font-weight: 700;
            text-decoration: none;
            transition: color 0.3s ease-in-out;

            &:hover {
              color: $color-accent;
            }
          }
        }
      }

      &-action {
        margin-top: 3rem;

        .button {
          @media (max-width: $breakpoint-mobile-horizontal) {
            width: 100% !important;
          }
        }
      }
    }

    .hamburger {
      display: block;
      position: relative;

      @media (min-width: $breakpoint-tablet-horizontal) {
        display: none;
      }

      span {
        background-color: var(--header-hamburger-color);
        border-radius: 0.3rem;
        display: block;
        height: 0.3rem;
        margin-bottom: 0.5rem;
        position: relative;
        transform-origin: 0.4rem 0;
        transition:
          transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          opacity 0.55s ease;
        width: 3rem;
        z-index: 1;

        &:first-child {
          transform-origin: 0% 0%;
        }

        &:nth-child(2) {
          transform-origin: 0% 100%;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.active {
        span {
          &:first-child {
            transform: rotate(45deg) translate(0.1rem, -0.4rem);
          }

          &:nth-child(2) {
            opacity: 0;
            transform: scaleY(0);
          }

          &:nth-child(3) {
            transform: rotate(-45deg);
          }
        }
      }
    }

    &-isScrolled,
    &:hover {
      --header-background-color: var(--color-white);
      --header-hamburger-color: var(--color-black);
      --header-top-link-color: var(--color-black);

      .clear-logo-vector {
        --color-vector-fill-background: #fff;
        --color-vector-fill-clear: rgba(255, 255, 255, 0);
        --opacity-vector-clear: 0.2;
      }

      .megamenu-dropdown {
        @media (min-width: $breakpoint-tablet-horizontal) {
          border-top: 1px solid $color-background-light;
        }
      }
    }
  }
</style>

<script>
  const hamburger = document.querySelector('header .hamburger');
  const nav = document.querySelector('header nav');
  const mainMenuLink = document.querySelectorAll('header .main-menu-item-inner');
  const megaMenuDropdown = document.querySelectorAll('header .megamenu-dropdown');
  const header = document.querySelector('header.main-navigation');

  function initMenu() {
    if (screen.availWidth > 992) {
      nav.classList.remove('active');
      hamburger.classList.remove('active');

      mainMenuLink.forEach(function (item) {
        item.closest('.main-menu-item').classList.remove('main-menu--active');
        item.closest('.main-menu-item').querySelector('.megamenu-dropdown').removeAttribute('style');
      });
    }
  }

  function mobileMenuHandler() {
    let element = this;

    if (element) {
      element.classList.toggle('active');
      nav.classList.toggle('active');
    }
  }

  function handleHeaderScroll() {
    if (window.scrollY > 0) {
      header.classList.add('main-navigation-isScrolled');
    } else {
      header.classList.remove('main-navigation-isScrolled');
    }
  }

  function menuLinkClickHandler(e) {
    let winWidth = screen.availWidth;

    if (winWidth > 992) return;

    const closestCollapse = e.target.closest('.main-menu-item').querySelector('.megamenu-dropdown');

    megaMenuDropdown.forEach((collapse) => {
      if (collapse !== closestCollapse) {
        slideUp(collapse);
      }
    });

    if (closestCollapse.classList.contains('show')) {
      slideUp(closestCollapse);
    } else {
      slideDown(closestCollapse);
    }
  }

  function slideDown(collapse) {
    collapse.classList.add('show');
    collapse.classList.add('collapsing');
    collapse.style.height = `${collapse.scrollHeight}px`;

    collapse.closest('.main-menu-item').classList.add('main-menu--active');

    setTimeout(() => {
      collapse.classList.remove('collapsing');
    }, 350);
  }

  function slideUp(collapse) {
    collapse.classList.add('collapsing');
    collapse.removeAttribute('style');

    collapse.closest('.main-menu-item').classList.remove('main-menu--active');

    setTimeout(() => {
      collapse.classList.remove('collapsing');
      collapse.classList.remove('show');
    }, 350);
  }

  hamburger.addEventListener('click', mobileMenuHandler);
  window.addEventListener('resize', initMenu);
  window.addEventListener('scroll', handleHeaderScroll);

  mainMenuLink.forEach(function (item) {
    item.addEventListener('click', menuLinkClickHandler);
  });
</script>
