---
import Head from "@widgets/Head.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head 
    title = {title}
	metadescription=""
  />
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
