---

import BlankTemplate from "../../layouts/BlankTemplate/BlankTemplate.astro";

---

<BlankTemplate title="Set 2">
	<div class="blade has-grid-bg">
		<div class="container">
			<h1 class="h4">Set 2 Templates</h1>
			<ol class="body-large">
				<li>
					<a href="/set-2/services-overview">Services (Overview)</a>
					<ul>
						<li>
							<a href="https://www.figma.com/file/hXWJSw8uarb9d77nJgNKEZ/Clear-Development?type=design&node-id=1448-1653&mode=design&t=8e06rcxjnfXbXolI-0" target="_blank">Design</a>
						</li>
						<li>
							<a href="https://docs.google.com/spreadsheets/d/1RpQmv1CiuLnbgZER3UudKB6zys8mLWhyaCssTjuj40g/edit#gid=1764215774" target="_blank">Build Doc</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/set-2/service-detail">Service (Detail)</a>
					<ul>
						<li>
							<a href="https://www.figma.com/file/hXWJSw8uarb9d77nJgNKEZ/Clear-Development?type=design&node-id=1448-1653&mode=design&t=8e06rcxjnfXbXolI-0" target="_blank">Design</a>
						</li>
						<li>
							<a href="https://docs.google.com/spreadsheets/d/1RpQmv1CiuLnbgZER3UudKB6zys8mLWhyaCssTjuj40g/edit#gid=1085769795" target="_blank">Build Doc</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/set-2/work">Our Work</a>
					<ul>
						<li>
							<a href="https://www.figma.com/file/hXWJSw8uarb9d77nJgNKEZ/Clear-Development?type=design&node-id=1448-1653&mode=design&t=8e06rcxjnfXbXolI-0" target="_blank">Design</a>
						</li>
						<li>
							<a href="https://docs.google.com/spreadsheets/d/1RpQmv1CiuLnbgZER3UudKB6zys8mLWhyaCssTjuj40g/edit#gid=1988708652" target="_blank">Build Doc</a>
						</li>
					</ul>
				</li>
			</ol>
		</div>
	</div>
</BlankTemplate>