---

interface Props {
	tag?: string,
	style?: string,
}

const {
	tag = 'h2',
	style = null,
} = Astro.props;

---

{
	()=>{
		switch(tag){
			case 'h1':
				return <h1 class:list={[style]}><slot /></h1>
			case 'h2':
				return <h2 class:list={[style]}><slot /></h2>
			case 'h3':
				return <h3 class:list={[style]}><slot /></h3>
			case 'h4':
				return <h4 class:list={[style]}><slot /></h4>
			case 'h5':
				return <h5 class:list={[style]}><slot /></h5>
			case 'h6':
				return <h6 class:list={[style]}><slot /></h6>
			default:
				return <h2 class:list={[style]}><slot /></h2>
		}
	}
}