:root {
	--content-width: 100%;
	--content-side-padding: 2rem;
	--column-gutter-width: 1.6rem;

	@media(min-width: $desktop_min) {
		--content-width: 141rem;
		--content-side-padding: 2rem;
		--column-gutter-width: 3rem;
	}
}

.blade {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
    position: relative;
	padding-block: var(--padding-unit-150);
	min-height: 100vh;

	&.not-screen-height {
		min-height: unset;
	}
}

.blade-content, .content-width, .container {
	width: 100%;
	max-width: calc(var(--content-width) + calc(2 * var(--content-side-padding)));
	padding-inline: var(--content-side-padding);
	margin: 0 auto;
	position: relative;
}

.container {
	z-index: 5;
}

.blade-content {
	z-index: 2;
}
.sr-only{
	position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
a{
	text-decoration: none;
	outline: 0;
    cursor: pointer;
}