---

import BlankTemplate from "../../layouts/BlankTemplate/BlankTemplate.astro";

---

<BlankTemplate title="Set 8">
	<div class="blade has-grid-bg">
		<div class="container">
			<h1 class="h4">Set 8 Templates</h1>
			<ol class="body-large">
				
			</ol>
		</div>
	</div>
</BlankTemplate>