---
import Head from "@widgets/Head.astro";
import Header from "../../components/Header/Header.astro";
import Navigation from "../../components/Navigation/Navigation.astro";
import Footer from "../../components/Footer/Footer.astro";
import MouseCursor from "@widgets/MouseCursor.astro";

const useCustomMouse = import.meta.env.PUBLIC_USE_CUSTOM_CURSOR;

interface Props {
  title: string;
  metadescription: string;
  ogimage: string;
}

const { title, metadescription, ogimage } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head 
    title = {title}
    metadescription = {metadescription}
    ogimage = {ogimage}
  />
  <body>
    {useCustomMouse && <MouseCursor />}
    <main>
      <Navigation />
      <slot />
      <Footer />
    </main>
  </body>
</html>
