---

import { Image } from 'astro:assets';
import ourProcess from '@assets/images/TwoColVerticalSlide/our-process.png';
import planing from '@assets/images/TwoColVerticalSlide/planing.png';
import designing from '@assets/images/TwoColVerticalSlide/designing.png';

interface Props {

}

const {

} = Astro.props;
---

<div class="scroll-reveal-section"><!-- BEGIN Reveal panel section -->
  <div class="item">
    <div class="image-holder">
      <div class="image-wrapper">
        <Image src={ourProcess} alt='ourProcess image'></Image>
      </div>
    </div>
    <div class="text-holder">
      <div class="text-holder-inner">
          <div class="heading-wrapper">
            <div class="subtitle">Our process</div>
            <h3>Nisl pulvinar consectet nec set adipiscing</h3>
          </div>
          <div class="description-wrapper">
            <h5>Lorem ipsum dolor sit amet consectetur</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Pharetra dictum faucibus proin turpis sit. Tortor amet sit nunc libero 
              non nec suscipit volutpat in. Viverra adipiscing dolor amet vitae. Malesuada vitae consectetur erat risus ac nibh. 
              Lectus egestas adipiscing interdum hendrerit vitae consequat odio. Mattis imperdiet vitae tellus fringilla. Magna.
            </p>
          </div>
        </div>
    </div>
  </div>

  <div class="item">
    <div class="image-holder">
      <div class="image-wrapper">
        <Image src={planing} alt='ourProcess image'></Image>
      </div>
    </div>
    <div class="text-holder">
      <div class="text-holder-inner">
          <div class="heading-wrapper">
            <div class="subtitle">Our process</div>
            <h3>Nisl pulvinar consectet nec set adipiscing</h3>
          </div>
          <div class="description-wrapper">
            <h5>Lorem ipsum dolor sit amet consectetur</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Pharetra dictum faucibus proin turpis sit. Tortor amet sit nunc libero 
              non nec suscipit volutpat in. Viverra adipiscing dolor amet vitae. Malesuada vitae consectetur erat risus ac nibh. 
              Lectus egestas adipiscing interdum hendrerit vitae consequat odio. Mattis imperdiet vitae tellus fringilla. Magna.
            </p>
          </div>
        </div>
    </div>
  </div>
  
  <div class="item">
    <div class="image-holder">
      <div class="image-wrapper">
        <Image src={designing} alt='ourProcess image'></Image>
      </div>
    </div>

    <div class="text-holder">
      <div class="text-holder-inner">
          <div class="heading-wrapper">
            <div class="subtitle">Our process</div>
            <h3>Nisl pulvinar consectet nec set adipiscing</h3>
          </div>
          <div class="description-wrapper">
            <h5>Lorem ipsum dolor sit amet consectetur</h5>
            <p>Lorem ipsum dolor sit amet consectetur. Pharetra dictum faucibus proin turpis sit. Tortor amet sit nunc libero 
              non nec suscipit volutpat in. Viverra adipiscing dolor amet vitae. Malesuada vitae consectetur erat risus ac nibh. 
              Lectus egestas adipiscing interdum hendrerit vitae consequat odio. Mattis imperdiet vitae tellus fringilla. Magna.
            </p>
          </div>
        </div>
    </div>

  </div>
</div><!-- END Reveal panel section -->

<style lang="scss">
  @import 'src/styles/abstracts/variables';

  // [is="TwoColVerticalSlide"] {
    
  //   .subtitle {
  //     margin-bottom: var( --flow-space);
  //   }

  //   .description-wrapper {
  //     padding-top: 15rem
  //   }

  //   .items {
  //     &-wrapper {
  //       @include row;
  //     }

  //     &-left-outer {
  //       background-color: var(--color-background);

  //       @media (min-width: $breakpoint-tablet-horizontal) {
  //         @include col(6);
  //       }
  //     }

  //     &-right-outer {
  //       padding-right: 0 !important;
  //       padding-left: 0 !important;

  //       @media (min-width: $breakpoint-tablet-horizontal) {
  //         @include col(6);
  //       }
  //     }
  //   }

  //   .section-item {
  //     &-left {
  //       margin-left: auto;
  //       padding-top: var(--component-spacing);
  //       padding-bottom: var(--component-spacing);
  //       padding-right: 10rem;
        
  //       @media (min-width: $breakpoint-tablet-horizontal) {
  //         max-width: 69rem;
  //       }
  //     }

  //     &-left-inner {
  //       display: flex;
  //       flex-direction: column;
  //       justify-content: space-between;
  //     }

  //     &-right {

  //     }
  //   }
  // }

  // * 
  // { box-sizing: border-box; }
// html {background-color: black;}
// body { font-family: sans; margin: 0 auto; background-color: white; max-width: 80em; }
// .scroll-filler { height: 80vh; }


.item {
    
  &:after {
    content: "";
    display: block;
    height: 100vh;
    margin-bottom: -100vh;
  }
  
  position: relative;
  background-image:
    linear-gradient(to bottom, rgba(0,0,0,.05), transparent 50px);
  
  &:last-of-type {
    &:after { display: none; }
    margin-bottom: 0;
    background-image:
      linear-gradient(to bottom, rgba(0,0,0,.05), transparent 50px),
      linear-gradient(to top, rgba(0,0,0,.05), transparent 50px);
  }
  
  .image {
    &-holder { 
      position: sticky;
      top: 0;
      float: right;
      overflow: hidden;
      width: 50%;
      height: 100vh;
    }
    
    &-wrapper { 
      height: 100vh;

      img {
        position: relative;
        height: 100%;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  
  .text-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    min-height: 120vh;
    margin-right: 50%;
    margin-left: auto;
    padding-left: var(--container-spacing);
    padding-right: var(--container-spacing);
    max-width: calc(calc(var(--content-max-width-full) / 2) + var(--container-spacing) );

    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100vh - 150px);
    }
  }
}
  
</style>