---

import { Image } from 'astro:assets';
import ourProcess from '@assets/images/TwoColVerticalSlide/our-process.png';
import planing from '@assets/images/TwoColVerticalSlide/planing.png';
import designing from '@assets/images/TwoColVerticalSlide/designing.png';

interface Props {

}

const {

} = Astro.props;
---

<two-col-vertical-slide>

  <div class="scroll-reveal-section">
    <div class="item">
      <div class="text-holder">
        <div class="heading-wrapper">
          <div class="subtitle">Our process</div>
          <h3>Nisl pulvinar consectet nec set adipiscing</h3>
        </div>
        <div class="description-wrapper">
          <h5>Lorem ipsum dolor sit amet consectetur</h5>
          <p>Lorem ipsum dolor sit amet consectetur. Pharetra dictum faucibus proin turpis sit. Tortor amet sit nunc libero 
            non nec suscipit volutpat in. Viverra adipiscing dolor amet vitae. Malesuada vitae consectetur erat risus ac nibh. 
            Lectus egestas adipiscing interdum hendrerit vitae consequat odio. Mattis imperdiet vitae tellus fringilla. Magna.
          </p>
        </div>
      </div>
      <div class="image-holder">
        <Image src={ourProcess} alt='ourProcess image'></Image>
      </div>
    </div>
  
    <div class="item">
      <div class="text-holder">
        <div class="heading-wrapper">
          <div class="subtitle">Our process</div>
          <h3>Nisl pulvinar consectet nec set adipiscing</h3>
        </div>
        <div class="description-wrapper">
          <h5>Lorem ipsum dolor sit amet consectetur</h5>
          <p>Lorem ipsum dolor sit amet consectetur. Pharetra dictum faucibus proin turpis sit. Tortor amet sit nunc libero 
            non nec suscipit volutpat in. Viverra adipiscing dolor amet vitae. Malesuada vitae consectetur erat risus ac nibh. 
            Lectus egestas adipiscing interdum hendrerit vitae consequat odio. Mattis imperdiet vitae tellus fringilla. Magna.
          </p>
        </div>
      </div>
      <div class="image-holder">
        <Image src={planing} alt='ourProcess image'></Image>
      </div>
    </div>
    
    <div class="item">
      <div class="text-holder">
        <div class="heading-wrapper">
          <div class="subtitle">Our process</div>
          <h3>Nisl pulvinar consectet nec set adipiscing</h3>
        </div>
        <div class="description-wrapper">
          <h5>Lorem ipsum dolor sit amet consectetur</h5>
          <p>Lorem ipsum dolor sit amet consectetur. Pharetra dictum faucibus proin turpis sit. Tortor amet sit nunc libero 
            non nec suscipit volutpat in. Viverra adipiscing dolor amet vitae. Malesuada vitae consectetur erat risus ac nibh. 
            Lectus egestas adipiscing interdum hendrerit vitae consequat odio. Mattis imperdiet vitae tellus fringilla. Magna.
          </p>
        </div>
      </div>
      <div class="image-holder">
        <Image src={designing} alt='ourProcess image'></Image>
      </div>
    </div>
  </div>
</two-col-vertical-slide>

<style lang="scss">
  @import 'src/styles/abstracts/variables';
  @import 'src/styles/abstracts/mixins';

  [is="TwoColVerticalSlide"] {
    
    .subtitle {
      margin-bottom: var( --flow-space);
    }

    .description-wrapper {
      padding-top: 15rem
    }

    .items {
      &-wrapper {
        @include row;
      }

      &-left-outer {
        background-color: var(--color-background);

        @media (min-width: $breakpoint-tablet-horizontal) {
          @include col(6);
        }
      }

      &-right-outer {
        padding-right: 0 !important;
        padding-left: 0 !important;

        @media (min-width: $breakpoint-tablet-horizontal) {
          @include col(6);
        }
      }
    }

    .section-item {
      &-left {
        margin-left: auto;
        padding-top: var(--component-spacing);
        padding-bottom: var(--component-spacing);
        padding-right: 10rem;
        
        @media (min-width: $breakpoint-tablet-horizontal) {
          max-width: 69rem;
        }
      }

      &-left-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &-right {

      }
    }
  }

  two-col-vertical-slide {
    .item {
      position: relative;

      &:after {
        content: "";
        display: block;
        height: 100vh;
        margin-bottom: -100vh;
      }
      
      &:last-of-type {
        &:after { display: none; }
        margin-bottom: 0;
      }
      
      .image-holder {
        position: sticky;
        top: 0;
        float: right;
        overflow: hidden;
        width: 50%;
        height: 100vh;
        img {
          position: relative;
          height: 100%;
          width: auto;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      
      .text-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        min-height: 120vh;
        margin-right: 50%;
        padding: 1em;
      }
    }
  }
</style>

<script>
  class TwoColVerticalSlide extends HTMLElement {
    constructor(...args) {
      const self = super(...args);
      self.init();
      return self;
    }

    init() {
      this.resolveElements();
      this.bindFunctions();
      this.bindEvents();
    }

    resolveElements() {
      
    }

    bindFunctions() {

    }

    bindEvents() {
      
    }
  }

  customElements.define('two-col-vertical-slide', TwoColVerticalSlide);
</script>