---
import Head from "../components/global/Head.astro";
import Header from "../components/global/Header.astro";
import Footer from "../components/global/Footer.astro";

interface Props {
  title: string;
  metadescription: string;
  ogimage: string;
}

const { title, metadescription, ogimage } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head 
    title = {title}
    metadescription = {metadescription}
    ogimage = {ogimage}
  />
  <body>
    <main>
      <Header />
      <slot />
      <Footer />
    </main>
  </body>
</html>
