---
import GlobalStyles from "../components/GlobalStyles.astro";

interface Props {
  title: string;
  metadescription: string;
}

const { title, metadescription } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={metadescription} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <GlobalStyles />
    <title>{title}</title>
  </head>
  <body>
    <header>header</header>
    <slot />
    <footer>footer</footer>
  </body>
</html>
