/**
 * Forms
 */

form {
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  color: var(--color-text);
  font-size: var(--font-size-body);
  font-weight: 700;
  padding: 0;
}

label {
  color: var(--color-text-muted);
  font-size: var(--font-size-body-small);
  font-weight: 500;
  margin-block-start: 0;
}

[type="tel"], [type="url"], [type="text"], [type="date"], [type="email"], [type="search"], [type="number"], [type="password"], textarea, select {
  appearance: none;
  background-color: transparent;
  border: 0.2rem solid var(--color-border-secondary);
  border-radius: 0;
  caret-color: var(--color-text);
  color: var(--color-text);
  font-size: var(--font-size-body-small);
  max-inline-size: 100%;
  padding: 1.2rem 1rem;
  transition: border-color 0.3s ease-in-out;

  &::placeholder {
    color: var(--color-border-secondary);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &:invalid {
    border-color: var(--color-error);
  }
}

select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' fill='none'%3E%3Crect width='38' height='38' fill='rgba(255, 255, 255, 0.7)' rx='19'/%3E%3Cpath stroke='rgba(48, 48, 48, 1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8.846 15.846 19 26l10.153-10.154'/%3E%3C/svg%3E");
  background-position: calc(100% - 1.2rem) center;
  background-repeat: no-repeat;
  background-size: 2.8rem;
  line-height: 1.5;
  padding-inline-end: 5.4rem;
}

textarea {
  inline-size: 100%;
  min-block-size: 15rem;
  resize: vertical;
  vertical-align: top;
}

[type="checkbox"],
[type="radio"] {
  accent-color: var(--color-accent);
  block-size: 2rem;
  display: inline-block;
  inline-size: 2rem;
  margin-block-start: 0.4rem;
  margin-inline-end: 0.8rem;
  vertical-align: top;

  + label {
    color: var(--color-text);
    display: inline-block;
    font: inherit;
    inline-size: calc(100% - 3.3rem);
  }
}
