/**
 * Themes
 */

[data-theme] {
  background-color: var(--color-background);
  color: var(--color-text);
}

[data-theme=dark] {
  /**
  * Buttons
  */

  .button {
    --button-text-color: var(--color-text);

    &--text {
      &::after {
        background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.16663 10H15.8333" stroke="rgb(255, 255, 255)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M10 4.16675L15.8333 10.0001L10 15.8334" stroke="rgb(255, 255, 255)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      }
    }
  }
}
