---

interface Props {

}

const {

} = Astro.props;

---

<div class="footer-bottom">
	<div class="container">
		FooterBottom.astro
	</div>
</div>

<style lang="scss">
	.footer-bottom {
		background: var(--color-white);
		color: var(--color-grey);
	}
</style>