---

import HeaderNavigation from "./HeaderNavigation.astro";

interface Props {

}

const {

} = Astro.props;

---

<header>
	<div class="container">
		<div class="img-wrap">
			<a href="/set-1/homepage/" class="site-logo-link" data-cursor-expand>
				<img src="/Clear_black.svg" alt="Clear Digital">
				<img src="/Clear_logo_pink.svg" alt="Cleardigital">
			</a>
		</div>
    <div class="links-outer">
		 <nav>
			<ul>
				<li><span><a href="/work" data-cursor-expand>Work</a></span>
					<div class="sub-menu">
						<div class="outer-wrapper">
							<div class="col-two">
								<div class="title-description">
									<h2 class="graphic-effect-underline" data-underline-image="black-1">Work</h2>
									<p>Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel
										nunc
										non, tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit
										amet.</p>
									<a class="link-default link-black" href="#" data-cursor-expand>Overview</a>
								</div>
							</div>
							<div class="col-two">
								<div class="links-container">
									<div class="col-wrapper">
										<span><a href="#" data-cursor-expand >Case Studies</a></span>
										<span><a href="#" data-cursor-expand>Clients</a></span>
										<span><a href="#" data-cursor-expand>Industry Focus</a></span>
										<span><a href="#" data-cursor-expand>Outcomes</a></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li><span><a href="/approach" data-cursor-expand>Approach</a></span>
					<div class="sub-menu">
						<div class="outer-wrapper">
							<div class="col-two">
								<div class="title-description">
									<h2 class="graphic-effect-underline" data-underline-image="black-1">Approach</h2>
									<p>Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel
										nunc
										non, tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit
										amet.</p>
									<a class="link-default link-black" href="#" data-cursor-expand>Overview</a>
								</div>
							</div>
							<div class="col-two">
								<div class="links-container">
									<div class="col-wrapper">
										<span><a href="#" data-cursor-expand>Collaboration Focus</a></span>
										<span><a href="#" data-cursor-expand>Driving B2B Results</a></span>
										<span><a href="#" data-cursor-expand>Design & Development Excellence</a></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li><span><a href="/services" data-cursor-expand>Services</a></span>
					<div class="sub-menu">
						<div class="outer-wrapper">
							<div class="col-two">
								<div class="title-description">
									<h2 class="graphic-effect-underline" data-underline-image="black-1">Services</h2>
									<p>Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel
										nunc
										non, tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit
										amet.</p>
									<a class="link-default link-black" href="#" data-cursor-expand>Overview</a>
								</div>
							</div>
							<div class="col-two">
								<div class="links-container">
									<div class="col-wrapper">
										<span><a href="#" data-cursor-expand>Brand Strategy</a></span>
										<span><a href="#" data-cursor-expand>Content Development</a></span>
										<span><a href="#" data-cursor-expand>Creative Services</a></span>
										<span><a href="#" data-cursor-expand>Digital Marketing</a></span>
										<span><a href="#" data-cursor-expand>Digital Strategy</a></span>
									</div>
									<div class="col-wrapper">
										<span><a href="#" data-cursor-expand>Motion Graphics</a></span>
										<span><a href="#" data-cursor-expand>Systems Support</a></span>
										<span><a href="#" data-cursor-expand>UX/UI Design</a></span>
										<span><a href="#" data-cursor-expand>Web Development</a></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li><span><a href="/insights" data-cursor-expand>Insights</a></span>
					<div class="sub-menu">
						<div class="outer-wrapper">
							<div class="col-two">
								<div class="title-description">
									<h2 class="graphic-effect-underline" data-underline-image="black-1">Insights</h2>
									<p>Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel
										nunc
										non, tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit
										amet.</p>
									<a class="link-default link-black" href="#" data-cursor-expand>Overview</a>
								</div>
							</div>
							<div class="col-two">
								<div class="links-container">
									<div class="col-wrapper">
										<span><a href="#" data-cursor-expand>White Papers</a></span>
										<span><a href="#" data-cursor-expand>Videos</a></span>
										<span><a href="#" data-cursor-expand>Infographics</a></span>
									</div>
									<div class="col-wrapper">
										<span><a href="#" data-cursor-expand>Podcasts</a></span>
										<span><a href="#" data-cursor-expand>Client in the News</a></span>
										<span><a href="#" data-cursor-expand>Press Releases</a></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li><span><a href="/about" data-cursor-expand>About</a></span>
					<div class="sub-menu">
						<div class="outer-wrapper">
							<div class="col-two">
								<div class="title-description">
									<h2 class="graphic-effect-underline" data-underline-image="black-1">About Clear</h2>
									<p>Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel
										nunc
										non, tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit
										amet.</p>
									<a class="link-default link-black" href="#" data-cursor-expand>Overview</a>
								</div>
							</div>
							<div class="col-two">
								<div class="links-container">
									<div class="col-wrapper">
										<span><a href="#" data-cursor-expand>Brand Story</a></span>
										<span><a href="#" data-cursor-expand >History</a></span>
										<span><a href="#" data-cursor-expand>Team</a></span>
										<span><a href="#" data-cursor-expand>Awards</a></span>
									</div>
									<div class="col-wrapper">
										<span><a href="#" data-cursor-expand>Partners</a></span>
										<span><a href="#" data-cursor-expand>News</a></span>
										<span><a href="#" data-cursor-expand>Careers</a></span>
										<span><a href="#" data-cursor-expand>Contact Us</a></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<div class="btn-wrap">
				<a href="#" class="btn-default" data-cursor-expand>Let’s talk</a>
			</div>
		</nav>
    </div>
    <div id="toggleButton" class="toggler">
      <svg width="35" height="35" viewBox="0 0 35 26" fill="none" xmlns="http://www.w3.org/2000/svg" class="open">
      <rect x="5" width="30" height="4" rx="2" fill="white"></rect>
      <rect y="11" width="35" height="4" rx="2" fill="white"></rect>
      <rect x="11" y="22" width="24" height="4" rx="2" fill="white"></rect>
      </svg>
      <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg" class="close">
<path d="M26.25 8.75L8.75 26.25" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M8.75 8.75L26.25 26.25" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>

      </div>
	</div>
</header>

<style lang="scss">
	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
        position: static;
		// max-width: 1450px;
		.site-logo-link {
			display: block;
			font-size: 0;
			margin: 0;
			padding: 0;
		}
	}
  .links-outer{
    @media screen and (max-width: 992px) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0;
      background-color: var(--color-white);
      padding: 0;
      overflow: hidden;
      transition: 0.4s;
      //opacity: 0;
      //visibility: hidden;
    }
  }

	nav {
      display: flex;
      align-items: center;

      @mixin desktop_min {
        display: block;
        padding: 0 20px 150px;
      }
    }
    ul {
      display: flex;
      align-items: center;
      list-style: none;

      @mixin desktop_min {
        display: block;
      }

      > li {
        margin-left: 50px;
        @mixin desktop_min {
          margin-left: 0;
          margin-top: 25px;
          position: relative;
        }
        > span {
          position: relative;
          display: inline-block;
          padding-bottom: 40px;
          margin-top: 40px;

          @mixin desktop_min {
            padding: 0;
            display: block;
            border-bottom: 1px solid var(--color-black);
            padding-bottom: 13px;
            margin-top: 13px;
          }

          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 8px;
            background-color: var(--color-pink);
            width: 0;
            transition: 0.3s;
          }
          > a {
            color: var(--color-white);
            font-weight: 700;
            transition: all 0.3s linear;
            &:hover{
              color: var(--color-pink);
            } 
            @mixin desktop_min {
              color: var(--color-black);
            }
          }
          &:before{
            content:'';
            position: absolute;
            top: 4px;
            right: 5px;
            background-image: url('/wp-content/themes/cleardigital/templates/dist/images/plus-cursor.svg');
            background-repeat: no-repeat;
            height: 25px;
            width: 25px;
            display: none;
            background-size: contain;
            @mixin desktop_min{
              display: block;
            }
          }
          &.active{
            &:before{
              background-image: url('/wp-content/themes/cleardigital/templates/dist/images/cursor-open.svg');
              display: none;
              @mixin desktop_min{
                display: block;
              }
            }
          }
        }

        &:hover {
          span {
            &:after {
              @media screen and (min-width: 992px) {
                width: 100%;
              }
            }
          }
          .sub-menu {
            @media screen and (min-width: 992px) {
				height: 400px;
			}
          }
        }
      }

      .sub-menu {
        position: absolute;
        left: 0;
        height: 0;
        top: 100%;
        width: 100%;
        background: var(--color-white);
        overflow: hidden;
        transition: all 0.4s ease-in-out;

        @media screen and (max-width: 992px) {
          position: relative;
          display: none;
          height: auto;
          transition: 0s;
        }

        .outer-wrapper {
          padding: 60px 20px;
          max-width: 1450px;
          margin: 0 auto;
          display: flex;
          color: var(--color-black);

          @mixin desktop_min {
            padding: 40px 0 0;
          }

          @mixin tablet_min {
            display: block;
          }
        }

        .col-two {
          flex-basis: 50%;

          @mixin tablet_min {
            margin-bottom: 20px;
          }
        }

        .links-container {
          height: 100%;
          display: flex;

          @mixin mobile_max {
            display: block;
          }
        }

        .col-wrapper {
          display: flex;
          flex-direction: column;
          padding: 0 30px;

          @mixin tablet_min {
            padding-left: 0;
          }

          span {
            margin: 0 0 15px;
          }
          a {
            color: var(--color-black);
            font-weight: 700;
            transition: all 0.3s linear;
            &:hover{
              color: var(--color-pink);
            }
          }
        }

        .title-description {
          max-width: 450px;

          @mixin tablet_min {
            max-width: 100%;
          }
          p{
            margin: 20px 0;
          }
        }
      }
    }
    .btn-wrap {
      margin-left: 50px;
      @mixin desktop_min {
        margin-left: 0;
        margin-top: 25px;
      }
    }

	.toggler {
    display: none;
    position: relative;
    width: 32px;
    height: 15px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;

    @media screen and (max-width: 992px){
      
      display: inline-block;
    }
    .close{
      display: none;
    }
    &.active{
     .close{
      display: block;
     }
     .open{
      display: none;
     }

    }
  }
  .btn-default{
	display: inline-block;
    padding: 15px 15px;
    border: 2px solid transparent;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    position: relative;
    text-align: left;
    transition: all .4s ease-in-out;
	background-color: #FA198C;
	&:hover {
		background-color: transparent;
		color: #FA198C;
		border-color: #FA198C;
	}
  }
  header{
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		color: var(--color-white);
		z-index: 9;
		transition: all 0.3s linear;

		&.active, &:hover, &:focus-within {
			background-color: var(--color-white);
			color: var(--color-black);
			ul{
				li{
					span{
						a{
						  color: var(--color-black);
						}
					}
				}
				.sub-menu{
					border-top: 1px solid var(--color-gray);
				}
			}

				.img-wrap{
					a{
						img {
							&:first-child {
							display: block;
							}
							&:last-child {
							display: none;
							}
						}
					}
				}
			
			.toggler{
				svg{
					fill: var(--color-black);;
					rect{
					fill: var(--color-black); ;
					}
				}
			}
		}
		.img-wrap{
        a{
          img {
            &:first-child {
              display: none;
            }
          }
        }
      }
	  &.slide-up{
		top: -130px;
		@mixin tablet_min {
		top: 0;
		}
      }
	}
</style>
<script>

        var toggler = document.querySelector("header .toggler");
        var subMenu = document.querySelector('header .links-outer ul > li > span');
        var lastScrollVal = 0;
        mobileMenu();


        window.addEventListener('resize', function () {
            var winWidth = screen.availWidth;

            if (winWidth > 992) {
                var menu = document.querySelector('header .links-outer');
                menu.removeAttribute('style');

                document.querySelector('header .links-outer ul .sub-menu').removeAttribute('style');
            }
        });

        window.addEventListener('scroll', function () {
            navScroll();
        });

        function mobileMenu() {
          if (toggler) {
            toggler.addEventListener('click', function () {
                this.classList.toggle('active');
                var winWidth = screen.availWidth;
                if (winWidth < 992) {
                    var menu = document.querySelector('header .links-outer');
                    var menuhght = menu.clientHeight;
                    if (menuhght == 0) {
                      menu.setAttribute("style", "height: 100vh; overflowY: scroll;");
                    }
                    else {
                      menu.setAttribute("style", "height: 0; overflow: hidden;");
                    }
                    document.querySelector('header').classList.add('active');
                }
            });
          }
          if (subMenu) {
            subMenu.addEventListener('click', function () {
                var getSubMenu = this.siblings('.sub-menu');
                this.parent().siblings().find('.sub-menu').slideUp();
                getSubMenu.slideToggle();
                this.toggleClass('active');
            });
          }

        }

        function navScroll() {
            var scrollValue = document.documentElement.scrollTop

            if (scrollValue > lastScrollVal) {
              document.querySelector('header').classList.add('active');
            }
            else if(scrollValue == 0){
              document.querySelector('header').classList.remove('active');
            }
            // else {
            //   document.querySelector('header').classList.remove('slide-up');
            // }

            lastScrollVal = scrollValue;
        }

</script>
